@font-face {
  font-family: 'Arsenal';
  src: url('../fonts/Arsenal-Bold.ttf');
  src: local('Arsenal'),
  url('../fonts/Arsenal-Bold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Arsenal';
  src: url('../fonts/Arsenal-Bold.ttf');
  src: local('Arsenal'),
  url('../fonts/Arsenal-BoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Arsenal';
  src: url('../fonts/Arsenal-Italic.ttf');
  src: local('Arsenal'),
  url('../fonts/Arsenal-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Arsenal';
  src: url('../fonts/Arsenal-Regular.ttf');
  src: local('Arsenal'),
  url('../fonts/Arsenal-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Light.ttf');
  src: local('Roboto-Light'), local('RobotoLight'),
  url('../fonts/Roboto-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Light-Italic.ttf');
  src: local('Roboto-Light-Italic'), local('RobotoLightItalic'),
  url('../fonts/Roboto-Light-Italic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@mixin Arsenal($weight:null, $italic: false){
  font-family: 'Arsenal', 'Open Sans', Arial, sans-serif;
  @if $weight == 'bold'{ font-weight: 600;} @else {font-weight: 400;}
  @if $italic == true{font-style: italic}
}

@mixin Roboto($weight:null, $italic: false){
  font-family: 'Roboto', 'Open Sans', Arial, sans-serif;
  @if $weight == 'bold'{ font-weight: 600;} @else {font-weight: 400;}
  @if $italic == true {font-style: italic}
}

html,body{
  color: $black;
  @include Roboto();
  line-height: 1.6;
  font-size: $default-font-size;
}
a{
  text-decoration: none;
  color: $black;
  &:hover{
    text-decoration: underline;
  }
}

.invert-colors{
  color: $white;
  a{
    color: $white;
  }
}

a.lighten-lnk{
  transition: .35s ease-in-out;
  &:hover{
    color: rgba($black, .6) !important;
  }
}
.dotted{
  border-bottom: 1px dotted currentColor;
}
a.underline{
  text-decoration: underline;
  &:hover{
    text-decoration: none;
  }
}

p{
  line-height: 1.28em;
}

h1{
  @include Arsenal();
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: -1px;
  word-spacing: 12px;
  line-height: 1.25;
  @include for-tablet-portrait-up{
    font-size: 49px;
  }
}

h2, .h2{
  @include Arsenal();

  font-size: 22px;
  text-transform: uppercase;
  line-height: 1.25;
  &.bolder{
    font-weight: 600;
  }
  @include for-tablet-portrait-up{
    font-size: 30px;
  }
}
h3{
  @include Arsenal($weight: 'bold');
  font-size: 18px;
  text-transform: uppercase;
  line-height: 1.25;
}
.header-light{
  @include Arsenal();
}
.sub-header{
  @include Arsenal($weight: bold);
  font-size: 16px;
  color: $lightgray;
  text-transform: uppercase;
  margin-bottom: 36px;
}
.text-muted{
  color: $lightgray;
}
.text-danger{
  color: $danger;
}

small,
.small{
  font-size: 12px;
}

i, .italic{
  @include Roboto($italic: true);
}

.text-uppercase{
  text-transform: uppercase;
}

//style for bordered headers
.bordered{
  position: relative;
  padding-bottom: 27px;
  margin: 0 0 10px;
  text-align: center;
  &::after{
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: calc(50% - 25px);
    width: 50px;
    height: 1px;
    background: $brown;
  }
  &.lside{
    text-align: left;
    &::after{
      left: 0;
      width: 100px;
    }
  }
  &.large{
    &::after{
      height: 2px;
      width: 80px;
    }

  }
}
.text-center{
  text-align: center;
}
.text-right{
  text-align: right !important;
}
.text-lead{
  text-transform: uppercase;
  @include Arsenal($weight: 'bold');
}
.fs-18{
  font-size: 18px;
}
.fs-14{
  font-size: 14px;
}

ol.counter-list{
  padding: 0;
  margin: 0;
  list-style: none;
  li{
    margin: 0 0 30px;
    padding-left:  60px;
    counter-increment: counter-list;
    position: relative;
    &::before{
      content: counter(counter-list);
      @include Arsenal($weight: bold);
      font-size: 24px;
      color: $brown;
      position: absolute;
      left: 20px;
      top: -4px;
    }
  }
}