$black: #1d1d1b;
$brown: #bfaa82;
$white: #fff;
$gray: #bbbbba;
$lightgray: #a8a8a7;
$product-bg: #f6f4f0;
$border-color: #eee;
$danger: #a62e2e;

$max-width: 1240px;
$gird-space: 20px;
$default-font-size: 14px;