//common
@import "normalize";
@import "variables";
@import "mixins";
@import "fonts";

//side plugins
@import "owl.carousel.min";
@import "swiper-bundle.min";
@import "jquery.modal.min";
@import "utils/jquery.modal.override";
@import "jquery.mCustomScrollbar";

//utils
@import "utils/animated-hover-lnk";
@import "utils/form-elm";
@import "utils/carousel-arrows";
@import "utils/accordion-js";
@import "utils/swiper";
@import "utils/breadcrumbs";
@import "utils/tabs";
@import "utils/icons";
@import "utils/timeline";

//components
@import "components/header-nav";
@import "components/bottom-menu";
@import "components/dd-header-menu";
@import "components/categories";
@import "components/production";
@import "components/collections";
@import "components/gift-collection";
@import "components/lookbook";
@import "components/footer";
@import "components/product-view";
@import "components/catalog";
@import "components/catalog-filter";
@import "components/catalog-list";
@import "components/collection";
@import "components/aboutus";
@import "components/aboutus-people";
@import "components/store";
@import "components/customer-review";
@import "components/personal-area";
@import "components/login-modal";
@import "components/news-main";
@import "components/news-single-page";
@import "components/rules";
@import "components/individual";
@import "components/cart";

@import "hero";

.svg-sprite{
  overflow: hidden;
  position: absolute;
  z-index: -1;
  width: 0;
  height: 0;
  opacity: 0;
}
html {
  scroll-behavior: smooth;
}
html,body{
  background: $white;
}
*{
  box-sizing: border-box;
}
.spacer{
  height: 50px;
}
.cursor-pointer{
  cursor: pointer;
}
.show-mobile{
  display: none;
}


@include for-phone-only{
  .show-mobile{
    display: inherit;
  }
    .hide-mobile{
      display: none !important;
  }
}

ul, li{
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.modal-close-listener{
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 1;
  top: 0;
  display: none;
}

.p20{
  padding: 20px;
  @include for-tablet-portrait-up{
    padding: inherit;
  }
}

[data-ciaoyu-toggle] {
  display: none;
}
