.ac {
  box-sizing: border-box;
  // Question class
  > .ac-q {
    text-decoration: none;
    display: block;
    cursor: pointer;
    position: relative;
    &:hover,
    &:focus,
    &:active{
      outline: none;
    }
  }

  // Answer class
  > .ac-a {
    overflow: hidden;
    transition: all ease;
  }

  // Hide content when Javascript is enabled
  &.js-enabled {
    > .ac-a {
      visibility: hidden;
    }
  }

  // Active class
  &.is-active {
    > .ac-a {
      visibility: visible;
      margin-bottom: 1em;
    }
  }
}