.animated-lnk{
  position: relative;
  color: currentColor;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  &::before,
  &::after{
    content: "";
    position: absolute;
    bottom: -2px;
    width: 0;
    height: 1px;
    transition: all .2s ease-in-out;
    opacity: 0;
    background-color: $black;
  }
  &::before {
    left: calc(50% - 1px);
  }
  &::after {
    right: calc(50% - 1px);
  }
  &:hover,
  &.active{
    text-decoration: none;
    &::before,
    &::after {
      width: 50%;
      opacity: 1;
    }
  }
}
