.breadcrumbs{
  &__list{
    @include flexbox($direction: row, $wrap: wrap, $justifyContent: center);
    padding: 0;
    margin: auto;
    @include Roboto();
    font-size: 12px;
    li{
      padding: 0;
    }
    li:not(:last-child)::after{
      content: '/';
      display: inline-block;
      margin: 0 24px;
    }
  }
}