.arrows-holder{
  position: relative;
}
.arrow{
  @include flexbox();
  position: absolute;
  z-index: 5;
  top: 0;
  bottom: 0;
  width: 42px;
  cursor: pointer;
  @include for-tablet-portrait-up{
    width: 85px;
  }
  &__right{
    right: 0;
  }
  &__left{
    left: 0;
  }
svg{
    margin: auto;
    width: 12px;
    height: 24px;
  }
}

.owl-carousel .owl-nav button{
  position: absolute;
  width: 40px;
  top: 0;
  bottom: 0;
  &.owl-prev{
    left: 0;
  }
  &.owl-next{
    right: 0;
  }
  svg{
    width: 12px;
    height: 24px;
    margin: -10px 10px 0;
  }
}
