.btn{
  color: $black;
  text-decoration: none;
  border: 1px solid $black;
  padding: 6px 20px;
  @include Arsenal($weight: bold);
  text-transform: uppercase;
  display: inline-block;
  transition: .35s ease-in-out;
  text-align: center;
  min-width: 60px;
  font-size: 16px;
  background: transparent;
  &.border-gray{
    border-color: $gray;
  }
  &:hover{
    text-decoration: none;
    background: $black;
    cursor: pointer;
    color: $white;
  }
  &.btn-black{
    background: $black;
    color: $white;
    &:hover{
      background: rgba($black, .5);
    }
  }
  &.btn-large{
      font-size: 16px;
      padding: 14px 22px;
  }
  &.btn-small{
    padding: 2px 16px;
  }
  &.btn-secondary{
    border-color: $border-color;
  }
}
.invert-colors .btn{
  color: $white;
  border-color: $white;
  &:hover{
    background: $white;
    color: $black;
  }
  &.white-btn{
    background: $white;
    color: $black;
  }
}
button{
  &:focus,
  &:active{
    outline: none;
  }
}

.label-text{
  @include flexbox($direction: row, $justifyContent: space-between);
  width: 100%;
  padding: 0 16px 4px;
  font-size: 14px;
}

.form-input{
  border: 1px solid $border-color;
  height: 40px;
  line-height: 40px;
  padding: 0 16px;
  width: 100%;
  font-size: 14px;
  border-radius: 2px;
  margin-bottom: 16px;
  &:active,
  &:focus{
    outline: none;
  }
  &.phone{
    letter-spacing: 1px;
  }
}
input[type="checkbox"]{
  vertical-align: middle;
  margin: -1px 10px 0 0;
}
.form-group{
  @include flexbox();
  @include for-tablet-portrait-up{
    flex-direction: row;
  }
  width: 100%;
  .form-input,
  .btn{
    &:not(:last-child){
      margin-right: 16px;
    }
  }
  .btn{
    margin-bottom: 16px;
    height: 40px;
    line-height: 26px;
    min-width: 200px;
    font-size: 16px;
  }
}
//password
.hideShowPassword-wrapper{
  width: 100%;
  input.form-input{
    padding-right: 36px !important;
  }
}

.toggle-eye{
  width: 18px;
  height: 13px;
  right: 5px;
  @include imgRetina('../img/eye', 'png');
  background-size: 16px 11px !important;
  opacity: .5;
  cursor: pointer;
  margin-right: 14px;
  &:focus{
    outline: none;
  }
  &.hideShowPassword-toggle-hide{
    opacity: 1;
  }
}


.error-listener{
  display: none;
  font-size: 14px;
}
.is-error + .error-listener{
  display: block;
}

.question-ico{
  $ico-size: 16px;
  display: inline-block;
  font-size: 10px;
  line-height: $ico-size;
  border: 1px solid $border-color;
  width: $ico-size;
  height: $ico-size;
  text-align: center;
  border-radius: 50%;
  margin-left: 12px;
  transition: .35s linear;
  &:hover{
    background: $border-color;
    cursor: pointer;
  }
}