.blocker{
  background-color: $product-bg;
  z-index: 100;
  &:before{
    display: block;
    height: 200px;
    @include imgRetina('../img/logo-bg', 'png');
    background-size: 100px 70px !important;
  }

}
.modal{
  position: relative;
  z-index: 102;
  max-width: 600px;
  width: 90%;
  padding: 50px 100px;
  border-radius: 2px;
  box-shadow: 0 0 10px #edebe8;
  color: $black;
  text-align: left;
  a.close-modal{
    position: absolute;
    top: 2px;
    right: -50px;
    display: block;
    width: 32px;
    height: 32px;
    text-indent: -9999px;
    @include imgRetina('../img/close-bg', 'png');
  }
}