.tabs-list{
  font-size: 16px;
  font-weight: bold;
  @include flexbox($direction: row);
  li{
    padding: 10px 0;
    box-sizing: border-box;
    cursor: pointer;
    width: 50%;
    @include for-desktop-up{
      width: auto;
      &:not(:last-child){
        margin-right: 40px;
      }
    }
    &::before,
    &::after{
      background-color: $brown;
    }
  }
}
.tabs-list-tab-content{
  display: none;
  &.active{
    display: block;
  }
}

.triangle-bottom {
  display: inline-block;
  width: 0;
  vertical-align: middle;
  height: 0;
  border-style: solid;
  border-width: 3px 3px 0 3px;
  border-color: #bfaa82 transparent transparent transparent;
  margin-left: 1px;
}
