$timeline-width: $max-width;
.timeline{
  width: $timeline-width;
  min-height: $timeline-width/2;
  overflow-x: hidden;
  margin: 100px auto;
  position: relative;

  display: none;
  @include for-desktop-up{
    display: block;
  }

  &::before,
  &::after{
    content: '';
    position: absolute;
    z-index: 1;
    width: 50px;
    height: 60px;
    top: 0;
    bottom: 0;
  }
  &::before{
    left: 0;
    background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(255, 255, 255, .2) 61%, rgba(255,255,255,0) 50%);;
  }
  &::after{
    right: 0;
    background: linear-gradient(to left, rgba(255,255,255,1) 0%,rgba(255, 255, 255, .2) 61%, rgba(255,255,255,0) 50%);;
  }
  &__dates{
    position: relative;
    width: 100%;
    height: 60px;
    border-bottom: 1px solid $border-color;
    @include Arsenal($weight: bold);
    font-size: 24px;
    overflow: hidden;
    @include flexbox($direction: row, $alignItems: flex-end);
    li{
      text-align: center;
      width: 200px;
    }
    a{
      color: #9da0a0;
      line-height: 1em;
      padding-bottom: 6px;
      &:hover{
        text-decoration: none;
      }
      &.selected{
        display: inline-block;
          color: $black;
          font-size: 30px;
          border-bottom: 2px solid $brown;
      }
    }
  }
  &__arr{
    position: absolute;
    z-index: 2;
    top: 24px;
    width: 15px;
    height: 30px;
    overflow: hidden;
    svg{
      width: 15px;
      height: 30px;
    }
    &--next{
      right: 0;
    }
    &--prev{
      left: 0;
    }
  }
  &__issues {
    width: $timeline-width;
    height: $timeline-width/2;
    overflow: hidden;
    @include flexbox($direction: row);
    li {
      flex-basis: $timeline-width;
      width: $timeline-width;
      height: $timeline-width/2;
    }
  }
  &__issue{
    width: $timeline-width;
    padding: 40px 0;
    @include flexbox($direction: row, $justifyContent: space-between);
    &--desc{
      @include flexbox($direction: row, $justifyContent: space-between, $alignItems: center);
      flex-basis: 760px;
      .h2{
        margin-top: 0;
      }
      img{
        max-width: 420px;
        display: block;
        margin-right: 40px;
      }
    }
    &--list{
      flex-basis: 300px;
      img{
        width: 100%;
        margin-bottom: 40px;
      }
    }
  }
}

