<div class="aboutus-people__item">
    <div class="aboutus-people__item--holder">
        <div class="aboutus-people__item--manager">
            <img src="./img/manager-1.jpg"
                 srcset="./img/manager-1@2x.jpg" alt="">
            <div class="text">
                <h4>Алексей Минаков</h4>
                <p>Генеральный директор RODIS</p>
            </div>
        </div>
        <div class="aboutus-people__item--quote">
            <div>"Украшение должно быть не просто дорогим подарком, а стать семейной ценностью, которая будет
                переходить по наследству от поколения к поколению"
            </div>
        </div>
    </div>
</div>
    