<div class="aboutus-people">
    <div class="aboutus-people__inner">
        //= aboutus-people-item.html
        //= aboutus-people-item.html
        //= aboutus-people-item.html
        //= aboutus-people-item.html
    </div>
</div>