<div class="bottom-menu__tab">
    <div class="bottom-menu__tab--inner">
        <div>
            <ul>
                <li class="text-uppercase">Все украшения</li>
                <li><a href="#">Кольца</a></li>
                <li><a href="#">Серьги</a></li>
                <li><a href="#">Подвески</a></li>
                <li><a href="#">Броши</a></li>
                <li><a href="#">Браслеты</a></li>
                <li><a href="#">Колье</a></li>
                <li><a href="#">Цепи</a></li>
            </ul>
        </div>
        <div>
            <ul>
                <li class="text-uppercase">Для Кого</li>
                <li><a href="#">Украшения для женщин</a></li>
                <li><a href="#">Украшения для мужчин</a></li>
            </ul>
        </div>
        <div>
            <ul>
                <li class="text-uppercase">Вставки</li>
                <li><a href="#">Брилиант</a></li>
                <li><a href="#">Рубин</a></li>
            </ul>
        </div>
        
        <div class="gift-collection__carousel--item hovered">
            <a href="" class="like">
                <svg>
                    <use xlink:href="#Heart"></use>
                </svg>
            </a>
            <div class="img-holder">
                <img src="./img/gift-collection.png" srcset="./img/gift-collection@2x.png 2x" alt="">
            </div>
            <div class="bottom-section">
                <div class="text-uppercase text-center">КОЛЬЦО С БРИЛЛИАНТАМИ И ЭМАЛЬЮ</div>
                <div class="probe">
                    <i class="small text-muted">
                        Золото 585 пробы
                    </i>
                </div>
                <div class="collect-actions actions">
                    <div class="price">
                        80 000
                        <svg>
                            <use xlink:href="#Rub"></use>
                        </svg>
                    </div>
                    <a class="btn">
                        Купить
                    </a>
                </div>
            </div>
        </div>
    
    
    </div>
</div>