<nav class="bottom-menu tabs-list-wrapper">
    <section class="bottom-menu__list ">
        <div class="bottom-menu__list--item">
            <div class="animated-lnk">Украшения</div>
            //= bottom-menu-tab.html
        </div>
        
        
        <!--        -->

        <div class="bottom-menu__list--item">
            <div class="animated-lnk">Коллекции</div>
            //= bottom-menu-tab.html
        </div>
        
        <!--        -->
        
        <div class="bottom-menu__list--item">
            <div class="animated-lnk">Сувениры и подарки</div>
            //= bottom-menu-tab.html
        </div>
        
        <!--        -->

        <div class="bottom-menu__list--item">
            <div class="animated-lnk">Религиозные изделия</div>
            //= bottom-menu-tab.html
        </div>
        
        <!--        -->

        <div class="bottom-menu__list--item">
            <div class="animated-lnk">Изделия на заказ</div>
            //= bottom-menu-tab.html
        </div>
        
        <!--        -->

    </section>

</nav>