<nav class="breadcrumbs">
    <ol class="breadcrumbs__list">
        <li>
            <a href="/" class="breadcrumb__point r-link">Главная</a>
        </li>
        <li>
            <a href="#" class="breadcrumb__point r-link">Украшения</a>
        </li>
        <li>
            <span class="breadcrumb__point" aria-current="page">Столица</span>
        </li>
    </ol>
</nav>