<section class="cart">
    <div class="cart__inner">
        <div>
            <div class="h2 bolder">В КОРЗИНЕ 2 ТОВАРА</div>
           <div class="cart__items">
               //= cart-item.html
               //= cart-item.html
           </div>
           
        </div>
        <div>
            <p class="total">
                <span class="text-muted text-uppercase">
                    Итого:
                </span>
                <span class="total__price">
                    270 000
                    <svg>
                        <use xlink:href="#Rub"></use>
                    </svg>
                </span>
            
            
            </p>
            <a href="" class="btn btn-total btn-black">Оформить заказ</a>
            <div class="cart__close" id="cart-close">
                <svg>
                    <use xlink:href="#Plus"></use>
                </svg>
            </div>
        </div>
    
    
    </div>
</section>