<div class="cart__item">
    <div>
        <img src="./img/product-1.png"
             srcset=""
             alt="./img/product-1@2x.png 2x">
    </div>
    <div>
        <h3>КОЛЬЦО С БРИЛЛИАНТАМИ И ЭМАЛЬЮ</h3>
        <dl>
            <dt>Артикул</dt>
            <dd>654654</dd>
            <dt>Мтериал</dt>
            <dd>Золото 585 пробы</dd>
            <dt>Вес</dt>
            <dd>8,85 грамм</dd>
        </dl>
    </div>
    <div>
        <div class="count">
            <a href="">
                <svg class="count-ico">
                    <use xlink:href="#Minus"></use>
                </svg>
            </a>
            <input type="text" class="form-input" value="1">
            <a href="">
                <svg class="count-ico">
                    <use xlink:href="#Plus"></use>
                </svg>
            </a>
        </div>
        <div class="price">
            80 000
            <svg>
                <use xlink:href="#Rub"></use>
            </svg>
        </div>
    </div>
    <div class="remove-ico">
        <svg class="count-ico">
            <use xlink:href="#Plus"></use>
        </svg>
    </div>
</div>
