<div class="catalog-filter tabs-list-wrapper">
    <ul class="tabs-list catalog-filter__tabs tabs-list-js">
        <li class="animated-lnk">
            Вид украшения
            <span class="triangle-bottom"></span>
        </li>
        <li class="animated-lnk">
            Цена
            <span class="triangle-bottom"></span>
        </li>
        <li class="animated-lnk">
            Вставки
            <span class="triangle-bottom"></span>
        </li>
        <li class="animated-lnk">
            Цвет
            <span class="triangle-bottom"></span>
        </li>
        <li class="animated-lnk">
            Для кого
            <span class="triangle-bottom"></span>
        </li>
        <li class="animated-lnk">
            По популярности
            <span class="triangle-bottom"></span>
        </li>
    </ul>
    <div class="tabs-list-tab-content catalog-filter__content">
        <div>
            <label class="catalog-filter__content--item">
                <input type="checkbox" checked>
                Кольца
            </label>
            <label class="catalog-filter__content--item">
                <input type="checkbox">
                Браслеты
            </label>
            <label class="catalog-filter__content--item">
                <input type="checkbox">
                Серьги
            </label>
            <label class="catalog-filter__content--item">
                <input type="checkbox">
                Колье
            </label>
        </div>
        <div>
            <label class="catalog-filter__content--item">
                <input type="checkbox">
                Подвески
            </label>
            <label class="catalog-filter__content--item">
                <input type="checkbox">
                Цепи
            </label>
            <label class="catalog-filter__content--item">
                <input type="checkbox">
                Броши
            </label>
        </div>
    </div>
    <div class="tabs-list-tab-content catalog-filter__content">
        <div>
            <label class="catalog-filter__content--item">
                <input type="checkbox" checked>
                1500 - 18000
            </label>
            <label class="catalog-filter__content--item">
                <input type="checkbox">
                2500 - 2500000
            </label>
            <label class="catalog-filter__content--item">
                <input type="checkbox">
                654654 - 54654
            </label>
            <label class="catalog-filter__content--item">
                <input type="checkbox">
                1 - 1000
            </label>
        </div>
        <div>
            <label class="catalog-filter__content--item">
                <input type="checkbox" checked>
                1500 - 18000
            </label>
            <label class="catalog-filter__content--item">
                <input type="checkbox">
                2500 - 2500000
            </label>
            <label class="catalog-filter__content--item">
                <input type="checkbox">
                654654 - 54654
            </label>
            <label class="catalog-filter__content--item">
                <input type="checkbox">
                1 - 1000
            </label>
        </div>
    </div>
    
</div>