<div class="catalog-list__item">
    <div class="catalog-list__item--preview">
        <img src="./img/gift-collection.png"
             srcset="./img/gift-collection@2x.png 2x" alt="">
        <h3 class="price">
            80 000
            <svg>
                <use xlink:href="#Rub"></use>
            </svg>
        </h3>
        <div class="like-ico cursor-pointer">
            <svg>
                <use xlink:href="#Heart"></use>
            </svg>
        </div>
    </div>
    <div class="catalog-list__item--details">
        <div class="data-details">
            <h3 class="bordered lside header-light">
                Кольцо с бриллиянтами и эмалью
            </h3>
            <dl>
                <dt>Артикул</dt>
                <dd>654654</dd>
                <dt>Мтериал</dt>
                <dd>Золото 585 пробы</dd>
                <dt>Вес</dt>
                <dd>8,85 грамм</dd>
            </dl>
        </div>
        <div class="btn btn-large">
            Добавить в корзину
        </div>
    </div>
</div>