<div class="categories">
    <div class="categories__item">
        <div class="categories__item--img">
            <img src="./img/category.jpg"
                 srcset="./img/category@2x.jpg 2x"
                 alt="">
        </div>
        <div class="categories__item--data">
            <h2 class="bordered">Ювелирное искусство</h2>
            <p>Выдающиеся украшения <br> в эксклюзивном исполнении</p>
            <a href="" class="btn">
                Смотреть украшения
            </a>
        </div>
    </div>
    <div class="categories__item">
        <div class="categories__item--img">
            <img src="./img/category1.jpg"
                 srcset="./img/category1@2x.jpg 2x"
                 alt="">
        </div>
        <div class="categories__item--data">
            <h2 class="bordered">Ювелирные украшения</h2>
            <p>Премиальные украшения с <br> ограниченным тиражем</p>
            <a href="" class="btn">
                Смотреть украшения
            </a>
        </div>
    </div>
    <div class="categories__item">
        <div class="categories__item--img">
            <img src="./img/category2.jpg"
                 srcset="./img/category2@2x.jpg 2x"
                 alt="">
        </div>
        <div class="categories__item--data">
            <h2 class="bordered">Сувениры и подарки</h2>
            <p>Предметы интерьера и <br>сервировки стола, подарки важным особам,<br> предметы <br>коллекционирования</p>
            <a href="" class="btn">
                Смотреть украшения
            </a>
        </div>
    </div>
    <div class="categories__item">
        <div class="categories__item--img">
            <img src="./img/category3.jpg"
                 srcset="./img/category3@2x.jpg 2x"
                 alt="">
        </div>
        <div class="categories__item--data">
            <h2 class="bordered">Ателье индивидуальных <br> заказов</h2>
            <p>Воплоцение самых невероятных <br>ваших идей</p>
            <a href="" class="btn">
                Как заказать украшения
            </a>
        </div>
    </div>
    <div class="categories__item">
        <div class="categories__item--img">
            <img src="./img/category4.jpg"
                 srcset="./img/category4@2x.jpg 2x"
                 alt="">
        </div>
        <div class="categories__item--data">
            <h2 class="bordered">Наши салоны</h2>
            <p>Приглашаем в наши<br>
                ювелирные салоны<br>
                — это красота изделий<br>
                и волшебная атмосфера</p>
            <a href="" class="btn">
                Посмотреть адреса
            </a>
        </div>
    </div>
</div>