<div class="collections" id="collections">
    <h2 class="bordered text-center">Коллекции</h2>
    <div class="collections__items" id="colections-trigger">
        <a href="" class="collections__item">
            <img src="./img/collection-1.jpg"
                 srcset="./img/collection-1@2x.jpg 2x"
                 alt="">
        </a>
        <a href="" class="collections__item">
            <img src="./img/collection-2.jpg"
                 srcset="./img/collection-2@2x.jpg 2x"
                 alt="">
        </a>
        <a href="" class="collections__item">
            <img src="./img/collection-3.jpg"
                 srcset="./img/collection-3@2x.jpg 2x"
                 alt="">
        </a>
        <a href="" class="collections__item">
            <img src="./img/collection-4.jpg"
                 srcset="./img/collection-4@2x.jpg 2x"
                 alt="">
        </a>
        <a href="" class="collections__item">
            <img src="./img/collection-5.jpg"
                 srcset="./img/collection-5@2x.jpg 2x"
                 alt="">
        </a>
        <a href="" class="collections__item">
            <img src="./img/collection-6.jpg"
                 srcset="./img/collection-6@2x.jpg 2x"
                 alt="">
        </a>
        <a href="" class="collections__item">
            <img src="./img/collection-7.jpg"
                 srcset="./img/collection-7@2x.jpg 2x"
                 alt="">
        </a>
        <a href="" class="collections__item">
            <img src="./img/collection-8.jpg"
                 srcset="./img/collection-8@2x.jpg 2x"
                 alt="">
        </a>
    </div>
</div>