<div class="collection__list--item">
    <div class="item-img">
        <img src="./img/domovoi.jpg"
             srcset="./img/domovoi@2x.jpg 2x" alt="">
    </div>
    <div class="item-desc">
        <div>
            <h3 class="bordered lside header-light">
                Домовой «КЛЮЧНИК»
            </h3>
            <p class="small"><i>Домовой «Ключник» сохранит Ваш
                дом от проникновения в него нежеланных гостей. Сбережёт ценности, хранящиеся в доме, от хищения
                и порчи.</i></p>
        </div>
        <div>
            <div class="btn btn-small">Выбрать</div>
        </div>
    </div>
</div>