<div class="customer-review__cases-carousel--item">
    <div class="img-holder">
        <img src="./img/customer-review-case.jpg"
             srcset="./img/customer-review-case@2x.jpg 2x"
             alt="">
    </div>
    <div class="case">
        <div>
            <h4>КОЛЬЦО С БРИЛЛИАНТАМИ И ЭМАЛЬЮ</h4>
            <p>В жизни нашего клиента случилось знаменательное событие, а именно – рождение дочери. Основное место
                жительства нашего клиента – Франция.</p>
            <p>Дочь назвали Жозефина, в честь великой французской императрицы. Клиент пожелал сделать подарок своей жене в
                честь столь знаменательного события, при этом подарок должен был соответствовать ряду требований
                клиента.</p>
    
                <a href="#" class="btn">Подробнее</a>
        </div>
    </div>
</div>