<section class="dd-header-menu">
    <div class="dd-header-menu__logo hide-mobile">
        <svg class="logo">
            <use xlink:href="#Logo"></use>
        </svg>
    </div>
    <div class="dd-header-menu--inner">
        <nav class="dd-header-menu__col" >
            <ul>
                <li class="show-sub-nav text-lead">
                    УКРАШЕНИЯ
                </li>
                <ul class="sub-nav">
                    <!---->
                    <li class="go-back show-mobile">
                        Назад в раздел
                    </li>
                    <li class="show-mobile text-lead">
                        УКРАШЕНИЯ
                    </li>
                    <!---->
                    <li><a href="">Кольца</a></li>
                    <li><a href="">Серьги</a></li>
                    <li><a href="">Подвески</a></li>
                    <li><a href="">Броши</a></li>
                    <li><a href="">Браслеты</a></li>
                    <li><a href="">Колье</a></li>
                    <li><a href="">Цепи</a></li>
                </ul>
            </ul>
        </nav>
        <nav class="dd-header-menu__col">
            <ul>
                <li class="show-sub-nav text-lead">
                    КОЛЛЕКЦИИ
                </li>
                <ul class="sub-nav">
                    <!---->
                    <li class="go-back">
                        Назад в раздел
                    </li>
                    <li class="show-mobile text-lead">
                        КОЛЛЕКЦИИ
                    </li>
                    <!---->
                    <li><a href="">Столица</a></li>
                    <li><a href="">Лукоморье</a></li>
                    <li><a href="">Домовые</a></li>
                    <li><a href="">Ландыши</a></li>
                    <li><a href="">Лукошко с земляникой</a></li>
                    <li><a href="">Украшения с бриллиантами</a></li>
                    <li><a href="">Эксклюзивные украшения</a></li>
                </ul>
            </ul>
        </nav>
        <nav class="dd-header-menu__col fb-md">
            <ul>
                <li class="show-sub-nav text-lead">
                    СУВЕНИРЫ И ПОДАРКИ
                </li>
                <ul class="sub-nav">
                    <!---->
                    <li class="go-back">
                        Назад в раздел
                    </li>
                    <li class="show-mobile text-lead">
                        СУВЕНИРЫ И ПОДАРКИ
                    </li>
                    <!---->
    
                    <li><a href="">Для интерьера</a></li>
                    <li><a href="">Предметы сервировки</a></li>
                    <li><a href="">Новогодние сувениры</a></li>
                    <li><a href="">Корпоротивные подарки</a></li>
                </ul>
            </ul>
            <ul>
                <li><a href="" class="text-lead lighten-lnk">Религиозные изделия</a></li>
                <li><a href="" class="text-lead lighten-lnk">Изделия на заказ</a></li>
            </ul>
        </nav>
        <nav class="dd-header-menu__col">
            <ul>
                <li><a href="" class="text-lead lighten-lnk">О КОМПАНИИ</a></li>
                <li><a href="" class="text-lead lighten-lnk">НОВОСТИ</a></li>
                <li><a href="" class="text-lead lighten-lnk">СОБЫТИЯ</a></li>
                <li><a href="" class="text-lead lighten-lnk">ОПЛАТА И ДОСТАВКА</a></li>
                <li><a href="" class="text-lead lighten-lnk">КОНТАКТЫ</a></li>
                <li><a href="" class="text-lead lighten-lnk">АДРЕСА САЛОНОВ</a></li>
            </ul>
        </nav>
        <nav class="dd-header-menu__col">
            <ul>
                <li class="show-sub-nav text-lead">Онлайн покупка</li>
                <ul class="sub-nav">
                    <!---->
                    <li class="go-back">
                        Назад в раздел
                    </li>
                    <li class="show-mobile text-lead">
                        Онлайн покупка
                    </li>
                    <!---->
    
                    <li><a href="">Оплата</a></li>
                    <li><a href="">Доставка</a></li>
                    <li><a href="">Обмен и возврат</a></li>
                    <li><a href="">Правила дистанционной продажи</a></li>
                    <li><a href="">Политика конфедициальности</a></li>
                </ul>
            </ul>
            <div class="soc-icons hide-mobile">
                <a href="/">
                    <svg class="fb">
                        <use xlink:href="#Fb"/>
                    </svg>
                </a>
                <a href="/">
                    <svg class="inst">
                        <use xlink:href="#Insta"/>
                    </svg>
                </a>
            </div>
        </nav>
    </div>
    <div class="dd-header-menu__phone hide-mobile">
        <a href="tel:+74959560565" class="lighten-lnk phone-lnk">
            +7 495 956-05-65
        </a>
    </div>
    <div class="dd-header-menu__close cursor-pointer">
        <svg>
            <use xlink:href="#Plus"></use>
        </svg>
    </div>
</section>