<div class="gift-collection__carousel--item">
    <a href="" class="like">
        <svg>
            <use xlink:href="#Heart"/>
        </svg>
    </a>
    <div class="img-holder">
        <img src="./img/gift-collection.png"
            srcset="./img/gift-collection@2x.png 2x"
            alt="">
    </div>
    <div class="bottom-section">
        <a class="text-uppercase text-center">КОЛЬЦО С БРИЛЛИАНТАМИ И ЭМАЛЬЮ</a>
        <div class="probe">
            <i class="small text-muted">
                Золото 585 пробы
            </i>
        </div>
        <div class="collect-actions actions">
            <div class="price">
                80 000
                <svg>
                    <use xlink:href="#Rub"></use>
                </svg>
            </div>
            <a class="btn">
                Купить
            </a>
        </div>
    </div>
    
</div>