<div class="gift-collection">
    <h2 class="bordered text-center p20">Подборка подарков для нее и для него</h2>
    <div class="gift-collection__carousel owl-carousel">
        //= gift-collection-item.html
        //= gift-collection-item.html
        //= gift-collection-item.html
        //= gift-collection-item.html
        //= gift-collection-item.html
        //= gift-collection-item.html
        //= gift-collection-item.html
        //= gift-collection-item.html
        //= gift-collection-item.html
        //= gift-collection-item.html
    </div>
</div>