<div class="header-wrapper">
    <header class="header">
        <nav class="top-menu">
            <div class="top-menu__l-icons">
                <div class="iconed cursor-pointer show-dd-header-menu">
                    <div class="hamburger">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </div>
                <div class="iconed show-search cursor-pointer">
                    <svg>
                        <use xlink:href="#Search"></use>
                    </svg>
                </div>
                <a href="" class="iconed" >
                    <svg>
                        <use xlink:href="#Phone"></use>
                    </svg>
                </a>
            </div>
            <div>
                <a href="../">
                    <svg class="logo">
                        <use xlink:href="#Logo"></use>
                    </svg>
                </a>
            </div>
            <div class="top-menu__r-icons">
                <a href="../" class="iconed counter-holder">
                    <svg>
                        <use xlink:href="#Heart"></use>
                    </svg>
                    <span class="counter">3</span>
                </a>
                <div class="iconed counter-holder" id="cart">
                    <svg>
                        <use xlink:href="#Bag"></use>
                    </svg>
                    <span class="counter">3</span>
                </div>
                <a href="#login-modal" rel="modal:open" class="iconed counter-holder show-login">
                    <svg>
                        <use xlink:href="#User"></use>
                    </svg>
                </a>
            </div>
        </nav>
        //= bottom-menu.html
    </header>
    <!-- search -->
    <form action="" class="header__search">
        <div class="header__search--inner">
            <div>
                <input type="text" placeholder="Поиск">
            </div>
            <div>
                <button type="submit">
                    <svg>
                        <use xlink:href="#Search"></use>
                    </svg>
                </button>
            </div>
            <div class="header__search--close">
                <svg>
                    <use xlink:href="#Plus"></use>
                </svg>
                <span class="text-uppercase hide-mobile">Закрыть</span>
            </div>
        </div>
    </form>
    //= dd-header-menu.html
</div>
