<div class="hero-wrapper">
    //= header.html
    <section class="hero swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide slide-1">
                <div class="hero__inner">
                    <h1>
                        Высокое ювелирное<br>искусство
                    </h1>
                </div>
            </div>
            <div class="swiper-slide slide-2">
                <div class="hero__inner">
                    <h1>
                        Второй слайд
                    </h1>
                </div>
            </div>
            <div class="swiper-slide slide-3">
                <div class="hero__inner">
                    <h1>
                        Третий слайд
                    </h1>
                </div>
            </div>
        </div>
        
        <ol class="slide-check swiper-pagination-bullets"></ol>
    </section>
</div>

