<section class="individual-stages invert-colors text-center" id="stages-trigger">
    <div class="individual-stages__item stage1">
        <div class="num">1</div>
        <h3 class="bordered">
            обсуждение концепции,
            <br>выбор вставок
        </h3>
        <p>Мы работаем честно и качественно; мы выполняем свои обещания; мы соблюдаем этику; мы клиентоориентированы, и
            поэтому, мы каждый день совершенствуем свое мастерство для Вас, чтобы сделать совместное будущее лу</p>
    </div>
    <div class="individual-stages__item stage2">
        <div class="num">2</div>
        <h3 class="bordered">
            Снятие необходимых размеров
        </h3>
        <p>Мы работаем честно и качественно; мы выполняем свои обещания; мы соблюдаем этику; мы клиентоориентированы, и
            поэтому, мы каждый день совершенствуем свое мастерство для Вас, чтобы сделать совместное будущее лу</p>
    </div>
    <div class="individual-stages__item stage3">
        <div class="num">3</div>
        <h3 class="bordered">
            Разработка дизайна
        </h3>
        <p>Мы работаем честно и качественно; мы выполняем свои обещания; мы соблюдаем этику; мы клиентоориентированы, и
            поэтому, мы каждый день совершенствуем свое мастерство для Вас, чтобы сделать совместное будущее лу</p>
    </div>
    <div class="individual-stages__item stage4">
        <div class="num">4</div>
        <h3 class="bordered">
            Построение воска и примерка
        </h3>
        <p>Мы работаем честно и качественно; мы выполняем свои обещания; мы соблюдаем этику; мы клиентоориентированы, и
            поэтому, мы каждый день совершенствуем свое мастерство для Вас, чтобы сделать совместное будущее лу</p>
    </div>
    <div class="individual-stages__item stage5">
        <div class="num">5</div>
        <h3 class="bordered">
            Изготовление и опробование
        </h3>
        <p>Мы работаем честно и качественно; мы выполняем свои обещания; мы соблюдаем этику; мы клиентоориентированы, и
            поэтому, мы каждый день совершенствуем свое мастерство для Вас, чтобы сделать совместное будущее лу</p>
    </div>
    <div class="individual-stages__item stage6">
        <div class="num">6</div>
        <h3 class="bordered">
            Заказ готов
        </h3>
        <p>Мы работаем честно и качественно; мы выполняем свои обещания; мы соблюдаем этику; мы клиентоориентированы, и
            поэтому, мы каждый день совершенствуем свое мастерство для Вас, чтобы сделать совместное будущее лу</p>
    </div>
    
</section>