<div class="individual__hero">
    //= header.html
    <div class="individual__hero--inner">
        <section class="individual__hero--content">
            <h1 class="bordered lside large">Ваше ювелирное ателье<br>
                для драгоценных идей</h1>
            <p>Решаем вопросы скучных одинаковых украшений с неудобной посадкой и из некачественных материалов.
                Облегчаем муки выбора и принятия решения.</p>
            <a href="" class="btn btn-small">Оставить заявку</a>
        </section>
    </div>


</div>

