<h2 class="text-center p20">Часто задаваемые вопросы</h2>
<div class="individual-faq p20" id="individual-faq">
    <div class="ac">
        <div class="question">
            <span class="ac-q dotted cursor-pointer">Как определиться с выбором?</span>
        </div>
        <div class="ac-a answer">
            <div>
                Настоящие Правила регулируют продажу Товаров RODIS (далее – «Товары»), которые заказаны при посещении
                сайта www.artrodis.ru или через обращение по электронной почте.
                Для покупок с доставкой, Продавцом считается ООО «ЮЗ «Родис» (далее – «Родис») (105082, г. Москва, ул.
                Бакунинская, д. 94, стр.1, эт.2, ИНН 7701392750).
                Согласно Правилам, Покупатель - дееспособное физическое лицо, которое является добросовестным конечным
                потребителем и приобрело товар для использования исключительно для личных, семейных, домашних и иных
                нужд, не связанных с осуществлением предпринимательской деятельности.
                Заказ - запрос Покупателя на покупку Товара, который Покупатель направляет Продавцу. Направление Заказа
                означает, что Покупатель ознакомился с данными о Товаре на сайте Продавца и полностью принимает
                настоящие Правила.
            </div>
        
        </div>
    </div>
    <div class="ac">
        <div class="question">
            <span class="ac-q dotted cursor-pointer">Из чего складывается стоимость и что в нее входит?</span>
        </div>
        <div class="ac-a answer">
            <div>
                Настоящие Правила регулируют продажу Товаров RODIS (далее – «Товары»), которые заказаны при посещении
                сайта www.artrodis.ru или через обращение по электронной почте.
                Для покупок с доставкой, Продавцом считается ООО «ЮЗ «Родис» (далее – «Родис») (105082, г. Москва, ул.
                Бакунинская, д. 94, стр.1, эт.2, ИНН 7701392750).
                Согласно Правилам, Покупатель - дееспособное физическое лицо, которое является добросовестным конечным
                потребителем и приобрело товар для использования исключительно для личных, семейных, домашних и иных
                нужд, не связанных с осуществлением предпринимательской деятельности.
                Заказ - запрос Покупателя на покупку Товара, который Покупатель направляет Продавцу. Направление Заказа
                означает, что Покупатель ознакомился с данными о Товаре на сайте Продавца и полностью принимает
                настоящие Правила.
            </div>
        
        </div>
    </div>
    <div class="ac">
        <div class="question">
            <span class="ac-q dotted cursor-pointer">Как я могу быть уверен в качестве вставок и металла?</span>
        </div>
        <div class="ac-a answer">
            <div>
                Настоящие Правила регулируют продажу Товаров RODIS (далее – «Товары»), которые заказаны при посещении
                сайта www.artrodis.ru или через обращение по электронной почте.
                Для покупок с доставкой, Продавцом считается ООО «ЮЗ «Родис» (далее – «Родис») (105082, г. Москва, ул.
                Бакунинская, д. 94, стр.1, эт.2, ИНН 7701392750).
                Согласно Правилам, Покупатель - дееспособное физическое лицо, которое является добросовестным конечным
                потребителем и приобрело товар для использования исключительно для личных, семейных, домашних и иных
                нужд, не связанных с осуществлением предпринимательской деятельности.
                Заказ - запрос Покупателя на покупку Товара, который Покупатель направляет Продавцу. Направление Заказа
                означает, что Покупатель ознакомился с данными о Товаре на сайте Продавца и полностью принимает
                настоящие Правила.
            </div>
        
        </div>
    </div>
    <div class="ac">
        <div class="question">
            <span class="ac-q dotted cursor-pointer">Как происходит разработка ювелирной модели?</span>
        </div>
        <div class="ac-a answer">
            <div>
                Настоящие Правила регулируют продажу Товаров RODIS (далее – «Товары»), которые заказаны при посещении
                сайта www.artrodis.ru или через обращение по электронной почте.
                Для покупок с доставкой, Продавцом считается ООО «ЮЗ «Родис» (далее – «Родис») (105082, г. Москва, ул.
                Бакунинская, д. 94, стр.1, эт.2, ИНН 7701392750).
                Согласно Правилам, Покупатель - дееспособное физическое лицо, которое является добросовестным конечным
                потребителем и приобрело товар для использования исключительно для личных, семейных, домашних и иных
                нужд, не связанных с осуществлением предпринимательской деятельности.
                Заказ - запрос Покупателя на покупку Товара, который Покупатель направляет Продавцу. Направление Заказа
                означает, что Покупатель ознакомился с данными о Товаре на сайте Продавца и полностью принимает
                настоящие Правила.
            </div>
        
        </div>
    </div>
    <div class="ac">
        <div class="question">
            <span class="ac-q dotted cursor-pointer">Какие сроки изготовления?</span>
        </div>
        <div class="ac-a answer">
            <div>
                Настоящие Правила регулируют продажу Товаров RODIS (далее – «Товары»), которые заказаны при посещении
                сайта www.artrodis.ru или через обращение по электронной почте.
                Для покупок с доставкой, Продавцом считается ООО «ЮЗ «Родис» (далее – «Родис») (105082, г. Москва, ул.
                Бакунинская, д. 94, стр.1, эт.2, ИНН 7701392750).
                Согласно Правилам, Покупатель - дееспособное физическое лицо, которое является добросовестным конечным
                потребителем и приобрело товар для использования исключительно для личных, семейных, домашних и иных
                нужд, не связанных с осуществлением предпринимательской деятельности.
                Заказ - запрос Покупателя на покупку Товара, который Покупатель направляет Продавцу. Направление Заказа
                означает, что Покупатель ознакомился с данными о Товаре на сайте Продавца и полностью принимает
                настоящие Правила.
            </div>
        
        </div>
    </div>
    <div class="ac">
        <div class="question">
            <span
                class="ac-q dotted cursor-pointer">Что если мне не понравится украшение или он будет плохо сидеть?</span>
        </div>
        <div class="ac-a answer">
            <div>
                Настоящие Правила регулируют продажу Товаров RODIS (далее – «Товары»), которые заказаны при посещении
                сайта www.artrodis.ru или через обращение по электронной почте.
                Для покупок с доставкой, Продавцом считается ООО «ЮЗ «Родис» (далее – «Родис») (105082, г. Москва, ул.
                Бакунинская, д. 94, стр.1, эт.2, ИНН 7701392750).
                Согласно Правилам, Покупатель - дееспособное физическое лицо, которое является добросовестным конечным
                потребителем и приобрело товар для использования исключительно для личных, семейных, домашних и иных
                нужд, не связанных с осуществлением предпринимательской деятельности.
                Заказ - запрос Покупателя на покупку Товара, который Покупатель направляет Продавцу. Направление Заказа
                означает, что Покупатель ознакомился с данными о Товаре на сайте Продавца и полностью принимает
                настоящие Правила.
            </div>
        
        </div>
    </div>
    <div class="ac">
        <div class="question">
            <span class="ac-q dotted cursor-pointer">Как оформляется заказ, какие документы предоставляете?</span>
        </div>
        <div class="ac-a answer">
            <div>
                Настоящие Правила регулируют продажу Товаров RODIS (далее – «Товары»), которые заказаны при посещении
                сайта www.artrodis.ru или через обращение по электронной почте.
                Для покупок с доставкой, Продавцом считается ООО «ЮЗ «Родис» (далее – «Родис») (105082, г. Москва, ул.
                Бакунинская, д. 94, стр.1, эт.2, ИНН 7701392750).
                Согласно Правилам, Покупатель - дееспособное физическое лицо, которое является добросовестным конечным
                потребителем и приобрело товар для использования исключительно для личных, семейных, домашних и иных
                нужд, не связанных с осуществлением предпринимательской деятельности.
                Заказ - запрос Покупателя на покупку Товара, который Покупатель направляет Продавцу. Направление Заказа
                означает, что Покупатель ознакомился с данными о Товаре на сайте Продавца и полностью принимает
                настоящие Правила.
            </div>
        
        </div>
    </div>
    <div class="ac">
        <div class="question">
            <span class="ac-q dotted cursor-pointer">Какая гарантия?</span>
        </div>
        <div class="ac-a answer">
            <div>
                Настоящие Правила регулируют продажу Товаров RODIS (далее – «Товары»), которые заказаны при посещении
                сайта www.artrodis.ru или через обращение по электронной почте.
                Для покупок с доставкой, Продавцом считается ООО «ЮЗ «Родис» (далее – «Родис») (105082, г. Москва, ул.
                Бакунинская, д. 94, стр.1, эт.2, ИНН 7701392750).
                Согласно Правилам, Покупатель - дееспособное физическое лицо, которое является добросовестным конечным
                потребителем и приобрело товар для использования исключительно для личных, семейных, домашних и иных
                нужд, не связанных с осуществлением предпринимательской деятельности.
                Заказ - запрос Покупателя на покупку Товара, который Покупатель направляет Продавцу. Направление Заказа
                означает, что Покупатель ознакомился с данными о Товаре на сайте Продавца и полностью принимает
                настоящие Правила.
            </div>
        
        </div>
    </div>
    <div class="ac">
        <div class="question">
            <span class="ac-q dotted cursor-pointer">Как происходит оплата?</span>
        </div>
        <div class="ac-a answer">
            <div>
                Настоящие Правила регулируют продажу Товаров RODIS (далее – «Товары»), которые заказаны при посещении
                сайта www.artrodis.ru или через обращение по электронной почте.
                Для покупок с доставкой, Продавцом считается ООО «ЮЗ «Родис» (далее – «Родис») (105082, г. Москва, ул.
                Бакунинская, д. 94, стр.1, эт.2, ИНН 7701392750).
                Согласно Правилам, Покупатель - дееспособное физическое лицо, которое является добросовестным конечным
                потребителем и приобрело товар для использования исключительно для личных, семейных, домашних и иных
                нужд, не связанных с осуществлением предпринимательской деятельности.
                Заказ - запрос Покупателя на покупку Товара, который Покупатель направляет Продавцу. Направление Заказа
                означает, что Покупатель ознакомился с данными о Товаре на сайте Продавца и полностью принимает
                настоящие Правила.
            </div>
        
        </div>
    </div>
    <div class="ac">
        <div class="question">
            <span class="ac-q dotted cursor-pointer">Можно ли заказать из своего метала и камней?</span>
        </div>
        <div class="ac-a answer">
            <div>
                Настоящие Правила регулируют продажу Товаров RODIS (далее – «Товары»), которые заказаны при посещении
                сайта www.artrodis.ru или через обращение по электронной почте.
                Для покупок с доставкой, Продавцом считается ООО «ЮЗ «Родис» (далее – «Родис») (105082, г. Москва, ул.
                Бакунинская, д. 94, стр.1, эт.2, ИНН 7701392750).
                Согласно Правилам, Покупатель - дееспособное физическое лицо, которое является добросовестным конечным
                потребителем и приобрело товар для использования исключительно для личных, семейных, домашних и иных
                нужд, не связанных с осуществлением предпринимательской деятельности.
                Заказ - запрос Покупателя на покупку Товара, который Покупатель направляет Продавцу. Направление Заказа
                означает, что Покупатель ознакомился с данными о Товаре на сайте Продавца и полностью принимает
                настоящие Правила.
            </div>
        
        </div>
    </div>
    <div class="ac">
        <div class="question">
            <span class="ac-q dotted cursor-pointer">Право на использование разработанной модели</span>
        </div>
        <div class="ac-a answer">
            <div>
                Настоящие Правила регулируют продажу Товаров RODIS (далее – «Товары»), которые заказаны при посещении
                сайта www.artrodis.ru или через обращение по электронной почте.
                Для покупок с доставкой, Продавцом считается ООО «ЮЗ «Родис» (далее – «Родис») (105082, г. Москва, ул.
                Бакунинская, д. 94, стр.1, эт.2, ИНН 7701392750).
                Согласно Правилам, Покупатель - дееспособное физическое лицо, которое является добросовестным конечным
                потребителем и приобрело товар для использования исключительно для личных, семейных, домашних и иных
                нужд, не связанных с осуществлением предпринимательской деятельности.
                Заказ - запрос Покупателя на покупку Товара, который Покупатель направляет Продавцу. Направление Заказа
                означает, что Покупатель ознакомился с данными о Товаре на сайте Продавца и полностью принимает
                настоящие Правила.
            </div>
        
        </div>
    </div>
    <div class="ac">
        <div class="question">
            <span class="ac-q dotted cursor-pointer">Как и где происходит первое общение по заказу?</span>
        </div>
        <div class="ac-a answer">
            <div>
                Настоящие Правила регулируют продажу Товаров RODIS (далее – «Товары»), которые заказаны при посещении
                сайта www.artrodis.ru или через обращение по электронной почте.
                Для покупок с доставкой, Продавцом считается ООО «ЮЗ «Родис» (далее – «Родис») (105082, г. Москва, ул.
                Бакунинская, д. 94, стр.1, эт.2, ИНН 7701392750).
                Согласно Правилам, Покупатель - дееспособное физическое лицо, которое является добросовестным конечным
                потребителем и приобрело товар для использования исключительно для личных, семейных, домашних и иных
                нужд, не связанных с осуществлением предпринимательской деятельности.
                Заказ - запрос Покупателя на покупку Товара, который Покупатель направляет Продавцу. Направление Заказа
                означает, что Покупатель ознакомился с данными о Товаре на сайте Продавца и полностью принимает
                настоящие Правила.
            </div>
        
        </div>
    </div>
    <div class="ac">
        <div class="question">
            <span class="ac-q dotted cursor-pointer">Почему цена индивидуального заказа выше чем готового украшения на прилавке?</span>
        </div>
        <div class="ac-a answer">
            <div>
                Настоящие Правила регулируют продажу Товаров RODIS (далее – «Товары»), которые заказаны при посещении
                сайта www.artrodis.ru или через обращение по электронной почте.
                Для покупок с доставкой, Продавцом считается ООО «ЮЗ «Родис» (далее – «Родис») (105082, г. Москва, ул.
                Бакунинская, д. 94, стр.1, эт.2, ИНН 7701392750).
                Согласно Правилам, Покупатель - дееспособное физическое лицо, которое является добросовестным конечным
                потребителем и приобрело товар для использования исключительно для личных, семейных, домашних и иных
                нужд, не связанных с осуществлением предпринимательской деятельности.
                Заказ - запрос Покупателя на покупку Товара, который Покупатель направляет Продавцу. Направление Заказа
                означает, что Покупатель ознакомился с данными о Товаре на сайте Продавца и полностью принимает
                настоящие Правила.
            </div>
        
        </div>
    </div>
    <div class="ac">
        <div class="question">
            <span class="ac-q dotted cursor-pointer">Я никогда не делал украшения по индивидуальному заказу, с чего начать? вдруг у меня не хватит фантазии</span>
        </div>
        <div class="ac-a answer">
            <div>
                Настоящие Правила регулируют продажу Товаров RODIS (далее – «Товары»), которые заказаны при посещении
                сайта www.artrodis.ru или через обращение по электронной почте.
                Для покупок с доставкой, Продавцом считается ООО «ЮЗ «Родис» (далее – «Родис») (105082, г. Москва, ул.
                Бакунинская, д. 94, стр.1, эт.2, ИНН 7701392750).
                Согласно Правилам, Покупатель - дееспособное физическое лицо, которое является добросовестным конечным
                потребителем и приобрело товар для использования исключительно для личных, семейных, домашних и иных
                нужд, не связанных с осуществлением предпринимательской деятельности.
                Заказ - запрос Покупателя на покупку Товара, который Покупатель направляет Продавцу. Направление Заказа
                означает, что Покупатель ознакомился с данными о Товаре на сайте Продавца и полностью принимает
                настоящие Правила.
            </div>
        
        </div>
    </div>
    <div class="ac">
        <div class="question">
            <span class="ac-q dotted cursor-pointer">У меня был ранее негативный опыт индивидуального заказа ювелирного украшения</span>
        </div>
        <div class="ac-a answer">
            <div>
                Настоящие Правила регулируют продажу Товаров RODIS (далее – «Товары»), которые заказаны при посещении
                сайта www.artrodis.ru или через обращение по электронной почте.
                Для покупок с доставкой, Продавцом считается ООО «ЮЗ «Родис» (далее – «Родис») (105082, г. Москва, ул.
                Бакунинская, д. 94, стр.1, эт.2, ИНН 7701392750).
                Согласно Правилам, Покупатель - дееспособное физическое лицо, которое является добросовестным конечным
                потребителем и приобрело товар для использования исключительно для личных, семейных, домашних и иных
                нужд, не связанных с осуществлением предпринимательской деятельности.
                Заказ - запрос Покупателя на покупку Товара, который Покупатель направляет Продавцу. Направление Заказа
                означает, что Покупатель ознакомился с данными о Товаре на сайте Продавца и полностью принимает
                настоящие Правила.
            </div>
        
        </div>
    </div>
    <div class="ac">
        <div class="question">
            <span
                class="ac-q dotted cursor-pointer">В чем отличие индивидуального заказа на производстве и у "частника"</span>
        </div>
        <div class="ac-a answer">
            <div>
                Настоящие Правила регулируют продажу Товаров RODIS (далее – «Товары»), которые заказаны при посещении
                сайта www.artrodis.ru или через обращение по электронной почте.
                Для покупок с доставкой, Продавцом считается ООО «ЮЗ «Родис» (далее – «Родис») (105082, г. Москва, ул.
                Бакунинская, д. 94, стр.1, эт.2, ИНН 7701392750).
                Согласно Правилам, Покупатель - дееспособное физическое лицо, которое является добросовестным конечным
                потребителем и приобрело товар для использования исключительно для личных, семейных, домашних и иных
                нужд, не связанных с осуществлением предпринимательской деятельности.
                Заказ - запрос Покупателя на покупку Товара, который Покупатель направляет Продавцу. Направление Заказа
                означает, что Покупатель ознакомился с данными о Товаре на сайте Продавца и полностью принимает
                настоящие Правила.
            </div>
        
        </div>
    </div>

</div>


