<div id="login-modal" class="modal login-modal">
    <div class="tabs-list-wrapper">
        
        
        <ul class="tabs-list product-view__desc--tabs tabs-list-js">
            <li class="text-uppercase animated-lnk active">Авторизация</li>
            <li class="text-uppercase animated-lnk">Регистрация</li>
        </ul>
        
        <div class="tabs-list-tab-content active">
            <form action="">
                <label>
                    <div class="label-text">
                        <div class="text-muted is-error">Email</div>
                        <div class="text-danger error-listener">неверный формат</div>
                    </div>
                    <input type="text" class="form-input">
                </label>
                <label>
                    <div class="label-text">
                        <div class="text-muted">Пароль</div>
                        <div class="text-danger error-listener">неверный формат</div>
                    </div>
                    <input type="password" class="form-input show-hide-pwd">
                </label>
                <div class="spacer"></div>
                <div class="submit-area">
                    <div>
                        <label class="small checkbox-wrapper">
                            <div><input type="checkbox"></div>
                            <div>Запомнить меня</div>
                        </label>
                    </div>
                    <div>
                        <button class="btn btn-large btn-black" type="submit">
                            Войти
                        </button>
                    </div>
                </div>
            </form>
            <div class="spacer"></div>
            <div class="text-center">
                <a href="#" class="underline small">Забыли пароль?</a>
            </div>
        </div>
        <div class="tabs-list-tab-content">
            <p class="small">В связи с действием на территории РФ закона ФЗ-115 О
                ПРОТИВОДЕЙСТВИИ ЛЕГАЛИЗАЦИИ (ОТМЫВАНИЮ)ДОХОДОВ,
                ПОЛУЧЕННЫХ ПРЕСТУПНЫМ ПУТЕМ,И ФИНАНСИРОВАНИЮ
                ТЕРРОРИЗМА для оформления заказа требуются следующие данные:</p>
            <form action="">
                <label>
                    <div class="label-text">
                        <div class="text-muted">Фамилия</div>
                        <div class="text-danger error-listener">неверный формат</div>
                    </div>
                    <input type="text" class="form-input" placeholder="Ваша фамилия">
                </label>
                <label>
                    <div class="label-text">
                        <div class="text-muted">Имя</div>
                        <div class="text-danger error-listener">неверный формат</div>
                    </div>
                    <input type="text" class="form-input" placeholder="Ваше имя">
                </label>
                <label>
                    <div class="label-text">
                        <div class="text-muted">Отчество</div>
                        <div class="text-danger error-listener">неверный формат</div>
                    </div>
                    <input type="text" class="form-input" placeholder="Ваше отчество">
                </label>
                <label>
                    <div class="label-text">
                        <div class="text-muted">E-mail</div>
                        <div class="text-danger error-listener">неверный формат</div>
                    </div>
                    <input type="text" class="form-input" placeholder="Ваш E-mail">
                </label>
                <label>
                    <div class="label-text">
                        <div class="text-muted">Номер телефона</div>
                        <div class="text-danger error-listener">неверный формат</div>
                    </div>
                    <input type="text" name="phone"
                           class="form-input phone"
                           autocomplete="off"
                           maxlength="18">
                </label>
                <label>
                    <div class="label-text">
                        <div class="text-muted">Пароль</div>
                        <div class="text-danger error-listener">неверный формат</div>
                    </div>
                    <input type="password" class="form-input show-hide-pwd" placeholder="Пароль">
                </label>
                <label>
                    <div class="label-text">
                        <div class="text-muted">Подтверждение пароля</div>
                        <div class="text-danger error-listener">неверный формат</div>
                    </div>
                    <input type="password" class="form-input show-hide-pwd" placeholder="Подтверждение пароля">
                </label>
                
                <div class="spacer"></div>
                <div class="submit-area">
                    <div>
                        <label class="small checkbox-wrapper">
                            <div><input type="checkbox"></div>
                            <div>Я согласен на обработку <br>
                                <a href="#" class="underline">персональных данных</a></div>
                        </label>
                    </div>
                    <div>
                        <button class="btn btn-large btn-black" type="submit">
                            Регистрация
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>