<section class="lookbook">
    <h2 class="bordered text-center">Look Book</h2>
    <div class="lookbook__wrapper">
        <div action="" class="swiper-wrapper">
            
            <div class="lookbook__item-wrapper swiper-slide" style="background: #3e3e3e">
    
                <div class="lookbook__item">
                    <div class="lookbook__item--holder">
                        <div class="lookbook__item--ticket toggle-1" data-ciaoyu-toggle='one1'>
                            <div>
                                <span class="text-uppercase small">Коллекция</span>
                                <h3 class="title">Ландышы</h3>
                            </div>
                            <img src="./img/lookbok-item.jpg"
                                 srcset="./img/lookbok-item@2x.jpg 2x"
                                 width="182"
                                 height="255" alt="">
                            <div class="text-uppercase">
                                СЕРЬГИ “ЛАНДЫШИ” 1
                            </div>
                            <div>
                                <i class="small">Золото 585 пробы</i>
                            </div>
                            <div class="collect-actions">
                                <div class="price">
                                    80 000
                                    <svg>
                                        <use xlink:href="#Rub"></use>
                                    </svg>
                                </div>
                                <a class="btn">
                                    Купить
                                </a>
                            </div>
                        </div>
                        <div class="lookbook__item--ticket toggle-1" data-ciaoyu-toggle='two1'>
                            <div>
                                <span class="text-uppercase small">Коллекция</span>
                                <h3 class="title">Ландыши</h3>
                            </div>
                            <img src="./img/lookbok-item.jpg"
                                 srcset="./img/lookbok-item.jpg 2x"
                                 width="182"
                                 height="255" alt="">
                            <div class="text-uppercase">
                                Кольцо “ЛАНДЫШ” 2
                            </div>
                            <div>
                                <i class="small">Золото 585 пробы</i>
                            </div>
                            <div class="collect-actions">
                                <div class="price">
                                    80 000
                                    <svg>
                                        <use xlink:href="#Rub"></use>
                                    </svg>
                                </div>
                                <a class="btn">
                                    Купить
                                </a>
                            </div>
                        </div>
                    </div>
    
                    <div class="lookbook__item--image arrows-holder">
                        <img src="./img/lookbook.png"
                             srcset="./img/lookbook@2x.png 2x"
                             alt="">
                        <form class="target-list">
                                <label class="target" style="left: 38%; top: 73%;">
                                    <input type='radio'
                                           class="ciaoyu-toggle"
                                           name='radio-buttons'
                                           id="one1"
                                           value="option1"
                                           data-ciaoyu="toggle"
                                           checked="checked">
                                    <svg class="plus">
                                        <use xlink:href="#Plus"></use>
                                    </svg>
                                    <svg class="minus">
                                        <use xlink:href="#Minus"></use>
                                    </svg>
                                </label>
    
                                <label class="target"
                                       style="left: 72%; top: 57%;">
                                    <input type='radio'
                                           class="ciaoyu-toggle"
                                           name='radio-buttons'
                                           id="two1"
                                           data-ciaoyu="toggle"
                                           value="option2"
                                           >
                                    <svg class="plus">
                                        <use xlink:href="#Plus"></use>
                                    </svg>
                                    <svg class="minus">
                                        <use xlink:href="#Minus"></use>
                                    </svg>
                                </label>
                            
                        </form>
                        //= carousel-arrows.html
                    </div>
                </div>
            </div>
            
            <div class="lookbook__item-wrapper swiper-slide"  style="background: #657888">
                <div class="lookbook__item">
                    <div class="lookbook__item--holder">
                        <div class="lookbook__item--ticket" data-ciaoyu-toggle='one2' >
                            <div>
                                <span class="text-uppercase small">Коллекция</span>
                                <h3 class="title">Ландышы</h3>
                            </div>
                            <img src="./img/lookbok-item.jpg"
                                 srcset="./img/lookbok-item.jpg 2x"
                                 width="182"
                                 height="255" alt="">
                            <div class="text-uppercase">
                                СЕРЬГИ “ЛАНДЫШИ” 3
                            </div>
                            <div>
                                <i class="small">Золото 585 пробы</i>
                            </div>
                            <div class="collect-actions">
                                <div class="price">
                                    80 000
                                    <svg>
                                        <use xlink:href="#Rub"></use>
                                    </svg>
                                </div>
                                <a class="btn">
                                    Купить
                                </a>
                            </div>
                        </div>
            
                        <div class="lookbook__item--ticket" data-ciaoyu-toggle='two2' >
                            <div>
                                <span class="text-uppercase small">Коллекция</span>
                                <h3 class="title">Ландыши</h3>
                            </div>
                            <img src="./img/lookbok-item.jpg"
                                 srcset="./img/lookbok-item.jpg 2x"
                                 width="182"
                                 height="255" alt="">
                            <div class="text-uppercase">
                                Кольцо “ЛАНДЫШ” 4
                            </div>
                            <div>
                                <i class="small">Золото 585 пробы</i>
                            </div>
                            <div class="collect-actions">
                                <div class="price">
                                    80 000
                                    <svg>
                                        <use xlink:href="#Rub"></use>
                                    </svg>
                                </div>
                                <a class="btn">
                                    Купить
                                </a>
                            </div>
                        </div>
                    </div>
        
                    <div class="lookbook__item--image arrows-holder">
                        <img src="./img/lookbook1.png"
                             srcset="./img/lookbook1@2x.png 2x"
                             alt="">
                        <form class="target-list">
                            <label class="target active"
                                 style="left: 33%; top: 54%;">
                                <input type='radio'
                                       class="ciaoyu-toggle"
                                       name='radio-buttons'
                                       id="one2"
                                       value="option1"
                                       data-ciaoyu="toggle"
                                       checked="checked">
    
                                <svg class="plus">
                                    <use xlink:href="#Plus"></use>
                                </svg>
                                <svg class="minus">
                                    <use xlink:href="#Minus"></use>
                                </svg>
                            </label>
                
                            <label class="target"
                                 style="left: 56%; top: 73%;">
                                <input type='radio'
                                       class="ciaoyu-toggle"
                                       name='radio-buttons'
                                       id="two2"
                                       value="option1"
                                       data-ciaoyu="toggle">
                                <svg class="plus">
                                    <use xlink:href="#Plus"></use>
                                </svg>
                                <svg class="minus">
                                    <use xlink:href="#Minus"></use>
                                </svg>
                            </label>
            
                        </form>
                        //= carousel-arrows.html
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>