<a class="news-main__item">
    <div class="news-main__item--img">
        <img src="./img/news.jpg"
             srcset="./img/news@2x.jpg 2x"
             alt="">
    </div>
    <div class="p20">
        <p class="small">10 июня 2020</p>
        <h3>10 000 БОНУСНЫХ РУБЛЕЙ И КОЛЬЦО С
            БРИЛЛИАНТАМИ ЖДУТ ТЕБЯ</h3>
    </div>
</a>