<footer class="footer">
    <header>
        <a href="../"  class="footer__logo">
            <svg>
                <use xlink:href="#LogoSymbol"></use>
            </svg>
        </a>
    </header>
    
    <div class="footer__nav accordion-container">
        <nav class="footer__nav--col fb-sm" >
            <ul class="ac">
                <li>
                    <span class="ac-q text-lead">УКРАШЕНИЯ</span>
                </li>
                <div class="ac-a">
                    <li>
                        <a href="">Кольца</a>
                    </li>
                    <li>
                        <a href="">Серьги</a>
                    </li>
                    <li>
                        <a href="">Подвески</a>
                    </li>
                    <li>
                        <a href="">Броши</a>
                    </li>
                    <li>
                        <a href="">Браслеты</a>
                    </li>
                    <li>
                        <a href="">Колье</a>
                    </li>
                    <li>
                        <a href="">Цепи</a>
                    </li>
                </div>
            </ul>
        </nav>
        <nav class="footer__nav--col fb-md">
            <ul class="ac">
                <li><span class="text-lead ac-q">КОЛЛЕКЦИИ</span></li>
                <div class="ac-a" >
                    <li><a href="">Столица</a></li>
                    <li><a href="">Лукоморье</a></li>
                    <li><a href="">Домовые</a></li>
                    <li><a href="">Ландыши</a></li>
                    <li><a href="">Лукошко с земляникой</a></li>
                    <li><a href="">Украшения с бриллиантами</a></li>
                    <li><a href="">Эксклюзивные украшения</a></li>
                </div>
            </ul>
        </nav>
        <nav class="footer__nav--col fb-md">
            <ul class="ac">
                <li><span class="ac-q text-lead">СУВЕНИРЫ И ПОДАРКИ</span></li>
                <div class="ac-a">
                    <li><a href="">Для интерьера</a></li>
                    <li><a href="">Предметы сервировки</a></li>
                    <li><a href="">Новогодние сувениры</a></li>
                    <li><a href="">Корпоротивные подарки</a></li>
                </div>
            </ul>
            <ul>
                <li><a href="" class="text-lead lighten-lnk">Религиозные изделия</a></li>
                <li><a href="" class="text-lead lighten-lnk">Изделия на заказ</a></li>
            </ul>
        </nav>
         <nav class="footer__nav--col">
             <ul>
                 <li><a href="" class="text-lead lighten-lnk">О КОМПАНИИ</a></li>
                 <li><a href="" class="text-lead lighten-lnk">НОВОСТИ</a></li>
                 <li><a href="" class="text-lead lighten-lnk">СОБЫТИЯ</a></li>
                 <li><a href="" class="text-lead lighten-lnk">ОПЛАТА И ДОСТАВКА</a></li>
                 <li><a href="" class="text-lead lighten-lnk">КОНТАКТЫ</a></li>
                 <li><a href="" class="text-lead lighten-lnk">АДРЕСА САЛОНОВ</a></li>
             </ul>
         </nav>
        <nav class="footer__nav--col">
            <ul class="ac">
                <li><span class="ac-q text-lead">Онлайн покупка</span></li>
                <div class="ac-a">
                    <li><a href="">Оплата</a></li>
                    <li><a href="">Доставка</a></li>
                    <li><a href="">Обмен и возврат</a></li>
                    <li><a href="">Правила дистанционной продажи</a></li>
                    <li><a href="">Политика конфедициальности</a></li>
                </div>
            </ul>
        </nav>
        <nav class="footer__nav--col">
            <a href="tel:+74959560565" class="lighten-lnk phone-lnk">
                +7 495 956-05-65
            </a>
            <a href="" class="btn">
                Обратный звонок
            </a>
        </nav>
    </div>
    
    <div class="footer__social">
        <div class="footer__social--inner">
                <div>
                © 1997- <span id="year">2020</span><br class="show-mobile"> Ювелирный завод Родис, г. Москва.
            </div>
            <div class="soc-icons">
                <a href="/">
                    <svg class="fb">
                        <use xlink:href="#Fb"/>
                    </svg>
                </a>
                <a href="/">
                    <svg class="inst">
                        <use xlink:href="#Insta"/>
                    </svg>
                </a>
            </div>
            <div>
                <a href="/">
                    <svg class="kot">
                         <use xlink:href="#LogoDev"/>
                    </svg>
                </a>
            </div>
        </div>
        
    </div>
</footer>
