<div class="ac">
    <div class="toggle-thead ac-q">
        <div>28.06.2020</div>
        <div>
            <svg class="toggle-ico plus">
                <use xlink:href="#Plus"></use>
            </svg>
            <svg class="toggle-ico minus">
                <use xlink:href="#Minus"></use>
            </svg>
        </div>
    </div>
    <div class="ac-a">
        <div class="personal-area__orders--item">
            <div>
                <img src="./img/order-history.jpg"
                     srcset="./img/order-history@2x.jpg 2x"
                     alt="">
            </div>
            <div>
                <h3>КОЛЬЦО С БРИЛЛИАНТАМИ И ЭМАЛЬЮ</h3>
                <table>
                    <tr>
                        <td class="tech-data">
                            <dl>
                                <dt>Артикул</dt>
                                <dd>
                                    <i>65425856</i>
                                </dd>
                                <dt>Материал</dt>
                                <dd>
                                    <i>Золото 585 пробы</i>
                                </dd>
                                <dt>Вес</dt>
                                <dd>
                                    <i>8,5 грамм</i>
                                </dd>
                            </dl>
                        </td>
                    
                        <td class="text-center">
                            Количество<br>
                            <span class="fs-14">1шт</span>
                        </td>
                    
                        <td class="text-center">
                            Цена<br>
                            <b class="fs-18 text-uppercase">80 000
                                <svg class="rub">
                                    <use xlink:href="#Rub"></use>
                                </svg>
                            </b>
                        </td>
                    
                        <td class="text-center">
                            Сумма<br>
                            <b class="fs-18 text-uppercase">80 000
                                <svg class="rub">
                                    <use xlink:href="#Rub"></use>
                                </svg>
                            </b>
                        </td>
                    
                        <td class="text-right">
                            <a href="" class="remove">
                                <svg class="toggle-ico" title="Удалить">
                                    <use xlink:href="#Plus"></use>
                                </svg>
                            </a>
                        </td>
                    </tr>
                </table>
            </div>
    
        </div>
    </div>
</div>