<form action="" class="personal-area__form">
    <label>
        <div class="label-text">
            <div class="text-muted is-error">Фамилия</div>
            <div class="text-danger error-listener">неверный формат</div>
        </div>
        <input type="text" class="form-input">
    </label>
    <label>
        <div class="label-text">
            <div class="text-muted">Имя</div>
            <div class="text-danger error-listener">Error</div>
        </div>
        <input type="text" class="form-input">
    </label>
    <label>
        <div class="label-text">
            <div class="text-muted">Отчество</div>
            <div class="text-danger error-listener">Error</div>
        </div>
        <input type="text" class="form-input">
    </label>
    <label>
        <div class="label-text">
            <div class="text-muted">Email</div>
            <div class="text-danger error-listener">Error</div>
        </div>
        <input type="text" class="form-input">
    </label>
    <label>
        
        <div class="label-text">
            <div class="text-muted">Номер телефона</div>
            <div class="text-danger error-listener">Error</div>
        </div>
        <input type="text" name="phone"
               class="form-input phone"
               autocomplete="off"
               maxlength="18">
    </label>
    <label>
        <div class="label-text">
            <div class="text-muted">Пароль</div>
            <div class="text-danger error-listener">Error</div>
        </div>
        
        <div class="form-group">
            <input type="password" class="form-input show-hide-pwd">
            <div class="btn">Изменить пароль</div>
        </div>
    </label>
    <div class="spacer"></div>
    
    <div class="text-center form-action mt-80">
        <a class="btn btn-black">
            Редактировать личные данные
        </a>
    </div>
    
    </label>
</form>