<section class="product-view sticky-container">
    <div class="product-view__inner sticky-inner">
        <div class="product-view__item">
            <div class="product-view__item--holder">
                <div>
                    <img src="./img/product.png"
                         srcset="./img/product@2x.png"
                         alt="">
                </div>
                <div>
                    <img src="./img/product-2.png"
                         srcset="./img/product-2@2x.png"
                         alt="">
                </div>
                <div>
                    <img src="./img/product-1.png"
                         srcset="./img/product-1@2x.png"
                         alt="">
                </div>
            </div>
        
        </div>
        <div class="product-view__desc" id="stickySidebar">
            <div class="product-view__actions">
                <div class="product-view__actions--holder">
                    <div class="cursor-pointer">
                        <svg>
                            <use xlink:href="#Heart"></use>
                        </svg>
                    </div>
                    <div class="cursor-pointer">
                        <svg>
                            <use xlink:href="#Share"></use>
                        </svg>
                    </div>
                </div>
            </div>
            <div class="product-view__desc--inner">
                
                <i class="text-uppercase collection-name">Коллекция "Столица"</i>
                <h2 class="bordered lside">
                    Кольцо с брилиантами и эмалью
                </h2>
                <b>
                    Размер кольца
                    <span class="question-ico">?</span>
                </b>
                <div class="product-view__desc--size">
                    <a class="btn btn-secondary btn-small">16.5</a>
                    <a class="btn btn-secondary btn-small">16.5</a>
                    <a class="btn btn-secondary btn-small">17</a>
                </div>
                <div class="product-view__desc--price">
                    <div class="h2">
                        180 000
                        <svg>
                            <use xlink:href="#Rub"></use>
                        </svg>
                    </div>
                    <div class="btn-holder">
                        <div class="btn">
                            Добавить в корзину
                        </div>
                    </div>
                </div>
                <div class="tabs-list-wrapper">
                    <ul class="tabs-list product-view__desc--tabs tabs-list-js">
                        <li class="text-uppercase animated-lnk active">Характеристики</li>
                        <li class="text-uppercase animated-lnk">Вставки</li>
                        <li class="text-uppercase animated-lnk">Описание</li>
                    </ul>
                    <div class="product-view__desc--tabs-content tabs-list-tab-content active">
                        <dl>
                            <dt>Артикул</dt>
                            <dd>654654</dd>
                            <dt>Вес</dt>
                            <dd>8,85 грамм</dd>
                            <dt>Мтериал</dt>
                            <dd>Золото 585 пробы</dd>
                        </dl>
                    </div>
                    <div class="product-view__desc--tabs-content tabs-list-tab-content">
                        <p>23 Бриллианта — Кр57 - 0,16 - 4/3А</p>
                        <p>18 бриллиантов — Кр57 - 0,34 - 3/5А</p>
                        <p>80 бриллиантов — Кр57 - 0,3 - 3/4А</p>
                        <p>4 бриллианта — Кр57 - 0,06 - 4/5А</p>
                        <p>19 изумрудов — 1,03 - 3/3</p>
                        <p>4 изумруда — 2,45 - 2/2</p>
                        <p>1 изумруд — 21,39 - 3/3</p>
                    </div>
                    <div class="product-view__desc--tabs-content tabs-list-tab-content">
                        <p> ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                            consequat.
                            <a href="#">Duis aute irure</a> dolor in reprehenderit in voluptate velit esse cillum dolore
                            eu
                            fugiat nulla pariatur. Ex</p>
                    </div>
                </div>
                <ul class="product-view__info-links">
                    <li>
                        <a href="">Связаться с нами</a>
                    </li>
                    <li>
                        <a href="">Доставка</a>
                    </li>
                    <li>
                        <a href="">Правила дистанционной продажи</a>
                    </li>
                
                
                </ul>
            </div>
        </div>
    </div>

</section>