<div class="production invert-colors">
    <div>
        <svg class="logo-symbol">
            <use xlink:href="#LogoSymbol"/>
        </svg>
        <h2 class="bordered" >
            Производство
        </h2>
        <p>
            Московский ювелирный завод «Родис» был основан в 1997 году, как <br> частная мастерская по производству эксклюзивных <br> высококачественных ювелирных изделий «Премиум» сегмента.
        </p>
    
        <a href="" class="btn" >Подробнее о производстве</a>
    </div>
</div>
