<div class="stores__item">
    <div class="stores__item--image">
        <img src="./img/store.jpg"
             srcset="./img/store.jpg 2x"
             alt="">
    </div>
    <div class="stores__item--desc">
        <div>
            <h3 class="bordered lside">Ювелирный салон «Rodis jewelry store & presents»</h3>
            
            <p>В ноябре 2015 года впервые открыл свои двери Фирменный ювелирный салон «Rodis jewelry store &
                presents» в галереях «Времена Года» на Кутузовском проспекте д. 48 на 0 этаже.</p>
            
            <p>Мы рады представить Вам произведения мастеров ювелирного искусства и изысканный ассортимент
                сувенирной продукции.</p>
            
            <p>Москва, Кутузовский проспект, д. 48. Галерея «Времена Года», 0 этаж</p>
            
            <p>+7 (495) 968-19-20<br>
                Ежедневно: с 10 до 22 часов.</p>
            <div class="btn btn-small">Смотреть на карте</div>
        </div>
    </div>
</div>