<div class="timeline__issue">
    <div class="timeline__issue--desc">
            <img src="./img/timeline-issue.jpg"
                 srcset="./img/timeline-issue@2x.jpg 2x"
                 alt="">
        <div>
            <h3 class="h2">Расширение сети
            собственных
            премиум салонов</h3>
            <p>Ассортимент продукции был представлен, как собственным производством так, и ведущими Российскими
                заводами, лучшими частными мастерами ювелирного искусства.</p>
        </div>
    </div>
    <div class="timeline__issue--list">
        <h3 class="h2">Награды за 2018</h3>
        <p>Всероссийский конкурс ювелиров
            «Лучшие украшения России» Икорница "Морская симфония" - номинация "Ювелирный подарок"</p>
        <img src="./img/timlene-reward.jpg"
             srcset="./img/timlene-reward@2x.jpg 2x"
             alt="">
        <div class="text-center">
           <div class="btn">Купить</div>
        </div>
        
    </div>
    
    
</div>