<div id="timeline" class="timeline">
    <a href="#" id="next" class="timeline__arr timeline__arr--next">
    <svg>
        <use xlink:href="#Arrow"></use>
    </svg>
    </a>
    <a href="#" id="prev" class="timeline__arr timeline__arr--prev">
        <svg>
            <use xlink:href="#Arrow-l"></use>
        </svg>
    </a>
    <ul id="dates" class="timeline__dates">
        <li><a href="#2009">2009</a></li>
        <li><a href="#2010">2010</a></li>
        <li><a href="#2011">2011</a></li>
        <li><a href="#2012">2012</a></li>
        <li><a href="#2013">2013</a></li>
        <li><a href="#2014">2014</a></li>
        <li><a href="#2015">2015</a></li>
        <li><a href="#2016">2016</a></li>
        <li><a href="#2017">2017</a></li>
        <li><a href="#2018">2018</a></li>
    </ul>
    <ul id="issues" class="timeline__issues">
        <li id="2009" >
            //= timeline-issue.html
        </li>
        <li id="2010" >
            //= timeline-issue.html
        </li>
        <li id="2011">
            //= timeline-issue.html
        </li>
        <li id="2012">
            //= timeline-issue.html
        </li>
        <li id="2013"  >
            //= timeline-issue.html
        </li>
        <li id="2014"  >
            //= timeline-issue.html
        </li>
        <li id="2015"  >
            //= timeline-issue.html
        </li>
        <li id="2016"  >
            //= timeline-issue.html
        </li>
        <li id="2017">
            //= timeline-issue.html
        </li>
        <li id="2018">
            //= timeline-issue.html
        </li>
    </ul>
    
</div>