$aboutus-height: 500px;

.aboutus-people{
  background: #f7f4ef;
  @include for-tablet-portrait-up{
    height: $aboutus-height;
  }
  &__inner{
    @include for-tablet-portrait-up{
      @include flexbox($justifyContent: space-between);
      flex-direction: row;
      height: $aboutus-height;
    }
    max-width: $max-width;
    margin: 0 auto;
  }

  &__item{
    position: relative;
    flex-basis: 356px;
    transition: .35s ease-in-out;
    perspective: 1000;
    height: $aboutus-height;

    &--holder{
      position: absolute;
      width: 100%;
      height: 100%;
      transition: 1.25s;
      transform-style: preserve-3d;
      & > div{
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        height: 100%;
        width: 100%;
        -webkit-perspective: 0;
        -webkit-backface-visibility: hidden;
        -webkit-transform: translate3d(0,0,0);
        visibility:visible;
        backface-visibility: hidden;
        box-sizing: border-box;
        &:last-child {
          transform: rotateY(.5turn);
        }
      }

    }
    &:hover{
      .aboutus-people__item--holder{
        transform: rotateY(180deg);
      }
    }
    &--manager{
      .text{
        position: absolute;
        top: 50px;
        right: 8px;
        max-width: 171px;
        color: $brown;
        h4{
          @include Arsenal($weight: bold);
          color: $black;
          font-size: 18px;
          margin: 0;
        }
        p{
          margin: 0;
          font-size: 16px;
        }
      }
      img{
        position: absolute;
        width: 100%;
        left: 0;
        bottom: 0;
      }
    }
    &--quote{
      @include flexbox($justifyContent: center);
      padding: 40px;
      text-align: center;
      background: #f7f4ef;
      background: linear-gradient(0deg, #e3dfd6 0%, #efece7 50%, #f7f4ef 80%);
      border-left: 1px solid $white;
      @include Arsenal($italic: true);
      font-size: 22px;
      line-height: 1.2em;
    }
  }
}