.aboutus{
  &__item{
    min-height: 563px;
    display: flex;
    @include pseudoShadow(rgba($white, .5), $mobile: true);
    &.invert-colors{
      @include pseudoShadow(rgba($black, .5), $mobile: true);
    }

    &--inner{
      width: 100%;
      max-width: $max-width;
      padding: 20px;
      position: relative;
      margin: auto;
      z-index: 1;
      @include flexbox($justifyContent: space-between);
        @include for-desktop-up{
        padding: 20px;
        flex-direction: row;
      }
      p{
        font-size: 18px;
        line-height: 1.25em;
        margin-bottom: 30px;
      }
      &>div{
        @include for-desktop-up{
          flex-basis: calc(50% - 10px);
          padding: 0 80px 0 0;
        }
      }
    }
    @include for-desktop-up{
      &:nth-child(odd) > &--inner{
        flex-direction: row-reverse;
      }
    }

    &.aboutus-1{
      @include imgRetina('../img/aboutus-1', 'jpg')
    }
    &.aboutus-2{
      @include imgRetina('../img/aboutus-2', 'jpg')
    }
    &.aboutus-3{
      @include imgRetina('../img/aboutus-3', 'jpg')
    }
    &.aboutus-4{
      @include imgRetina('../img/aboutus-4', 'jpg')
    }
    &.aboutus-5{
      @include imgRetina('../img/aboutus-5', 'jpg')
    }
    &.aboutus-6{
      @include imgRetina('../img/aboutus-6', 'jpg')
    }
    &.aboutus-7{
      @include imgRetina('../img/aboutus-7', 'jpg')
    }
  }
  &__teaser{
    min-height: 450px;
    display: flex;
    & > div{
      margin: auto;
      max-width: 500px;
    }
    p{
      @include Roboto($italic: true);
    }
  }
  &__tezis{
    @include flexbox();
    @include for-desktop-up{
      flex-direction: row;
    }

    &--item{
      min-height: 500px;
      padding: 40px;
      background-color: #444547;
      @include flexbox($justifyContent: center);
      @include pseudoShadow(rgba($black, .5), $mobile: true);
      @include for-desktop-up{
        justify-content: flex-start;
        width: 33.3%;
        padding: 220px 80px 40px;
      }
      &>div{
        position: relative;
        z-index: 1;
      }
      &.tezis-1{
        @include imgRetina('../img/tezis-1', 'jpg')
      }
      &.tezis-2{
        @include imgRetina('../img/tezis-2', 'jpg')
      }
      &.tezis-3{
        @include imgRetina('../img/tezis-3', 'jpg')
      }
    }
  }
}