.bottom-menu {
  display: none;
  @include for-tablet-portrait-up() {
    transition: all .4s ease-in-out;
    display: block;
    overflow: hidden;
  }

  &__list {
    list-style-type: none;
    @include flexbox();
    background: $white;
    margin: 0;
    padding: 0;
    @include Arsenal();
    @include for-tablet-portrait-up {
      flex-direction: row;
      justify-content: center;
      background: transparent;
    }

    &--item {
      font-size: $default-font-size;
      margin: 0 20px;
      padding-bottom: $default-font-size;
      @include Arsenal();
      .animated-lnk{
        text-transform: uppercase;
        @include for-tablet-portrait-up {
          padding-bottom: 10px;
          &:not(:first-child) {
            border: none;
          }
        }

        &:hover{
          &::before,
          &::after {
            height: 2px;
            background-color: $brown;
            width: 50%;
            opacity: 1;
          }

          &:not(:first-child) {
            border-bottom: 1px solid $gray;
          }
        }

      }


    }
  }

  &__tab {
    position: absolute;
    opacity: 0;
    z-index: -10000;
    display: none;
    max-height: 0;
    padding: 60px 0;
    background: $white;
    left: 0;
    right: 0;
    top: calc(100% - 12px);
    overflow: hidden;
    border-top: 1px solid $lightgray;
    box-shadow: 0 3px 3px $gray;
    @include Roboto();

    & > .text-uppercase {
      @include Arsenal();
    }

    &--inner {
      @include flexbox($direction: row, $justifyContent: flex-start);
      max-width: $max-width;
      margin: auto;

      & > div {
        margin: 0;
        flex-basis: 250px;

        &:last-child {
          margin-left: auto;
        }
      }

      ul {
        transition: all .35s ease-in-out;
        &:hover li:not(.text-uppercase) {
          opacity: .5;
          &:hover {
            opacity: 1;
          }
        }
      }

      li.text-uppercase {
        @include Roboto($weight: bold);
        font-size: 12px;
      }

      li {
        margin-bottom: 18px;
        font-size: 14px;
        transition: all .35s ease-in-out;
      }
    }
  }
  .gift-collection__carousel--item{
    transition: none;
  }
}

.bottom-menu__list--item:hover .bottom-menu__tab{
  opacity: 1;
  z-index: 1000;
  max-height: inherit;
  display: block;
}