.cart {
  width: 100%;
  padding: 30px 20px;
  transition: all .8s ease-in-out;
  @include for-tablet-portrait-up {
    width: 50%;
    padding: 60px 50px;
    min-width: 800px;
  }
    box-sizing: border-box;
    position: fixed;
    z-index: 1000;
    right: -100%;
    top: 0;
    background: $white;
    height: 100vh;
    color: $black;
    &.active{
      right: 0;
    }
    &__inner {
      height: 100%;
      @include flexbox();
      justify-content: space-between;
      .h2{
        margin-bottom: 40px;
      }

    }
    &__items {
      height: 70vh;
      overflow: hidden;
    }
    &__item {
      @include flexbox($direction: row);
      position: relative;
      &:not(:last-child){
        border-bottom: 1px solid $border-color;
      }
      h3{
        @include Arsenal();

      }
      .price {
        @include Arsenal($weight: bold);
        font-size: 18px;
        text-align: center;
        margin: 20px 0 0 6px;
        svg {
          height: 11px;
          width: 10px;
          margin: 0;
        }
      }
      .remove-ico{
        cursor: pointer;
        position: absolute;
        left: 0;
        top: 20px;
        svg{
          width: 12px;
          height: 12px;
          transform: rotate(45deg);
        }
      }
      img {
        width: 144px;
        margin: 20px;
      }
      .count {
        margin-top: 20px;
        @include flexbox($direction: row, $alignItems: center);
        a {
          display: block;
          height: 20px;
        }
        .count-ico {
          width: 20px;
          height: 20px;
        }

        .form-input {
          width: 80px;
          display: inline-block;
          text-align: center;
          margin: 0 10px;
        }
      }

      dl {
        @include flexbox($direction: row, $wrap: wrap);
        font-size: 13px;
      }

      dt, dd {
        padding: 6px 0;
      }

      dt {
        width: 30%;
      }

      dd {
        width: 50%;
        @include Roboto($italic: true);
      }

    }

  .btn-total{
    padding-right: 30px;
    padding-left: 30px;
    margin-top: 15px;
  }
  .total{
    font-size: 14px;
    @include Arsenal($weight: bold);
    &__price{
      font-size: 24px;
      margin: 0 1em;
      svg{
        width: 13px;
        height: 15px;
      }
    }
  }
  &__close{
    transform: rotate(45deg);
    position: absolute;
    top: 50px;
    right: 40px;
    cursor: pointer;

    svg{
      width: 30px;
      height: 30px;
    }

  }
}