.catalog-filter{
  margin: auto auto 10px;
  max-width: $max-width;
  position: relative;
  z-index: 6;
  &__tabs{
    flex-wrap: wrap;
    border-bottom: 1px solid $border-color;
    li{
      padding: 12px 20px;
      &::before,
      &::after{
        bottom: -1px;
      }
      @include for-desktop-up{
        padding: 12px 0;
        margin-right: 35px;
        font-size: 12px;
        &:last-child{
          margin: 0 0 0 auto;
        }
      }
    }
  }
  &__content{
    &.active{
      @include flexbox($direction: row, $wrap: wrap);
    }
    position: absolute;
    width: 100%;
    top: 100%;
    z-index: 6;
    padding: 35px 0;
    border: solid $border-color;
    border-width: 1px 0;
    box-shadow: 0 4px 2px -2px $gray;
    overflow: hidden;
    background-color: $white;
    &--item{
      display: block;
      width: 200px;
      flex-grow: 0;
      flex-shrink: 0;
      flex-basis: 200px;
    }
    input{
      margin: -2px 14px 0;
      vertical-align: middle;
      cursor: pointer;
    }
  }
}