.catalog{
  max-width: $max-width;
  margin: 0 auto;
  &__header{
    width: 100%;
    @include imgRetina('../img/сatalog-header', 'jpg');
    padding: 20px;
    background-position: 60% 0 !important;
    @include for-desktop-up{
      padding: 0;
      background-position: center !important;
    }
    & > div{
      max-width: $max-width;
      margin: auto;
      padding: 100px 0;
    }
    h2,
    p{
      margin: 0;
    }
    p{
      font-size: 14px;
    }
  }
}