.categories {
  margin: auto;

  &__item {
    @include flexbox();

    @include for-tablet-portrait-up {
      flex-direction: row;
      &:nth-child(even) {
        flex-direction: row-reverse;
      }
    }

    & > div {
      width: 100%;
      overflow: hidden;
      @include for-tablet-portrait-up{
        width: 50%;
      }
    }

    &--img {
      transition: all .35s ease-in-out;
      overflow: hidden;
      img{
        width: 100%;
        display: block;
        transition: all 12s ease-in-out;
      }
      &:hover{
        filter: brightness(115%);
        img{
          transform: scale(1.1)
        }
      }
    }

    &--data {
      @include flexbox($justifyContent: center, $alignContent: center);
      text-align: center;
      padding: 35px 20px;
      @include for-tablet-portrait-up {
        padding: 0;
      }
    }

    p {
      @include Roboto($italic: true);
      font-size: 14px;
      margin-bottom: 30px;
      @include for-tablet-portrait-up {
        font-size: 18px;
      }
    }

    .btn {
      margin: 0 auto;
    }
  }
}

h2 > div {
  position: relative;
  margin: 0;
}
.split-parent {
  overflow: hidden;
}
.split-child {
  display: inline-block;
}