.catalog-list {
  max-width: $max-width;
  margin: 0 auto;
  &__inner{
    width: 100%;
    @include flexbox($wrap: wrap, $justifyContent: flex-start);
    @include for-desktop-up{
      margin: 0 -20px;
      flex-direction: row;
    }
  }
  &__item {
    width: 100%;
    @include for-desktop-up{
      width: calc(25% - 20px);
      height: 440px;
      margin: 0 10px;
    }
    position: relative;
    overflow: hidden;
    &--preview {
      position: relative;
      z-index: 3;
      background: $white;
      text-align: center;
      height: 100%;
      @include flexbox($justifyContent: space-between);
      padding: 40px 0;
      img {
        max-width: 180px;
        display: block;
        margin: auto;
      }
      .price {
        svg {
          height: 11px;
          width: 10px;
        }
      }

      .like-ico {
        @include for-desktop-up{
          opacity: 0;
        }
        position: absolute;
        z-index: 2;
        right: 10px;
        top: 23%;
        transition: .45s linear;
      }
    }

    &--details {
      @include flexbox($justifyContent: space-between);
      padding: 20px;
      margin-bottom: 40px;
      @include for-desktop-up{
        position: absolute;
        padding: 40px 20px;
        margin-bottom: 0;
        z-index: -1;
        right: 0;
        top: 0;
        bottom: 0;
        opacity: 0;
      }
      width: 100%;
      background: #f7f6f3;
      transition: .2s linear;
      .data-details {
        margin: auto;
      }

      dl {
        @include flexbox($direction: row, $wrap: wrap);
        font-size: 13px;
      }

      dt, dd {
        padding: 6px 0;
      }

      dt {
        width: 30%;
      }

      dd {
        width: 50%;
        @include Roboto($italic: true);
      }

      .btn {
        width: 100%;
      }
    }

    &:hover {
      background: #f7f6f3;
      z-index: 4;
      overflow: visible;

      .like-ico {
        opacity: 1;
      }

      .catalog-list__item--preview {
        background: #f7f6f3;
      }

      .catalog-list__item--details {
        opacity: 1;
        right: -100%;
        z-index: 1;
        padding-left: 20px;
      }
    }

    &:nth-child(4n + 4) {
      .catalog-list__item--details {
        left: 0;
        z-index: 1;
        padding-right: 20px;
      }

      &:hover {
        .catalog-list__item--details {
          left: -100%;
        }
      }
    }
  }
}
.show-more{
  font-size: 14px;
  p{
    margin-bottom: 20px;
  }
  .btn{
    padding-left: 40px;
    padding-right: 40px;
  }
}