.collections{
  margin: 40px auto 0;
  &__items{
    @include flexbox($wrap:wrap, $justifyContent: space-between);
    margin: 40px 0;
    @include for-tablet-portrait-up{
      flex-direction: row;
    }
  }
  &__item{
    display: block;
    margin: 10px 20px;
    @include for-tablet-portrait-up{
      width: calc(25% - 10px);
      margin: 0 0 10px 0;
    }
    img{
      width: 100%;
      display: block;
    }
  }
}