.collection{
  &__header{
    background: linear-gradient(to right, #f6f5f1 1%, #f3f2ed 40%, #ecebe7 100%);
    &--inner{
      max-width: $max-width;
      margin: 0 auto;
      padding: 20px;
      @include for-desktop-up{
        padding: 56px 0;
        &>div:first-child{
          width: 70%;
        }

      }
    }
  }
  &__teaser{
    margin: 40px auto;
    max-width: 760px;
    font-size: 18px;
    padding: 20px;
    h3{
      font-size: 22px;
    }
  }
  &__list{
    max-width: $max-width;
    margin: 0 auto;
    @include flexbox($direction: row, $wrap: wrap, $justifyContent: space-between);
    &--item{

      @include flexbox($justifyContent: space-between);
      width: 100%;
      @include for-desktop-up{
        width: calc(50% - 20px);
        flex-direction: row;
      }
      min-height: 290px;
      margin-bottom: 20px;

      .item-img{
        @include for-desktop-up {
          flex: 0 0 42%;
        }
        img{
          display: block;
          width: 100%;
        }
      }

      .item-desc{
        @include flexbox($justifyContent: space-between);
        @include for-desktop-up {
          flex: 0 0 50%;
        }
        padding: 40px 20px 20px;
        h3{
          margin-bottom: 20px;
          font-size: 16px;
        }
        .btn{
          margin-top: 20px;
        }
      }

    }
  }
}