.customer-review{
  margin: auto;
  &__product{
    @include flexbox();
    position: relative;
    @include for-desktop-up{
      align-items:flex-start;
      align-content:flex-start;
      flex-direction: row;
      & > div{
        flex-basis: 50%;
      }

    }
    .img-holder{
      @include flexbox();
      align-items: center;
      background: #f5ede2;
      position: relative;
      margin-bottom: 20px;
      width: $max-width/2;
      img{
        display: block;
        width: 100%;
      }
      @include for-desktop-up{
        &>div{
          align-items: flex-end;
          padding: 40px 40px 0;
          max-width: $max-width / 2;
        }
        margin-bottom: 0;
      }
      .play-video{
        position: absolute;
        right: 30px;
        top: 30px;
        color: $brown;
        svg{
          width: 24px;
          height: 24px;
        }
      }
    }
    .review-body{
      @include Roboto();
      font-size: 14px;
      padding: 20px;
      @include for-desktop-up{
        padding: 0;
      }
      & > div{
        max-width: $max-width / 2;
        @include for-desktop-up{
          padding: 0 80px;
          h2{
            margin-top: 0;
          }
        }
      }
      p{
        margin: 20px 0;
        line-height: 1.8;
      }
    }
  }
  &__request{
    @include imgRetina('../img/aboutus-5', 'jpg');
    padding: 40px 20px;
    @include Roboto();
    font-size: 16px;
    background-color: #2a293b;
    position: relative;
    @include for-desktop-up{
      padding: 120px 0;
    }
    &::before{
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background-color: rgba(#2a293b, .65);
    }
    &>div{
      margin: auto;
      max-width: $max-width / 2;
      position: relative;
      z-index: 1;
    }
    p{
      margin: 30px 0;
    }
  }
  &__cases {
    .btn-large{
      margin: 20px;
      @include for-desktop-up{
        margin: auto;
      }
    }
  }
  &__cases-carousel{
    margin: 40px auto;
    max-width: $max-width;
    $case-width: 800px;
    &--item{
      @include flexbox();
      position: relative;
      width: 100%;
      @include for-desktop-up{
        width: $case-width;
        flex-direction: row;
        margin: 0 40px;
      }
      .img-holder{
        box-sizing: border-box;
        background: #f5ede2;
        @include flexbox($justifyContent: center, $alignItems: center);
        padding: 20px;
        width: 100%;
        min-height: 300px;
        @include for-desktop-up {
          height: $case-width / 2 + 50px;
          padding: 0 80px;
          width: $case-width / 2;
        }
        img{
          display: inline-block;
          width: auto;
          @include for-desktop-up {
            width: 100%;
            display: block;
          }
        }
      }
      .case{
        width: 100%;
        padding: 20px;
        @include for-desktop-up{
          @include flexbox($justifyContent: center);
          flex-basis: $case-width / 2;
          padding: 0 20px 0 50px;
        }
        @include Roboto();
        font-size: 14px;
        h4{
          @include Arsenal();
          font-size: 16px;
        }
        p{
          line-height: 1.5em;
          margin-bottom: 0;
        }
        .btn{
          margin-top: 30px;
        }
      }
      @include for-desktop-up{
        &::before{
          content: '“';
          @include Arsenal($weight: bold);
          font-size: 150px;
          position: absolute;
          top: -48px;
          left: $case-width / 2 - 20px ;
          color: $brown;
        }
      }
    }
    $arrow-pos: calc(50% - 460px);
    .owl-nav button{
      bottom: auto;
      top: 24%;
      @include for-desktop-up{
        top: auto;
        bottom: 0;
      }
      svg{
        width: 18px;
        height: 32px;
      }

      &.owl-prev{
        left: -6px;
        @include for-desktop-up{
          top: 0;
          left: $arrow-pos !important;
        }
      }
      &.owl-next{
        right: 6px;
        @include for-desktop-up{
          top: 0;
          right: $arrow-pos !important;
        }
      }
    }


  }

}