.dd-header-menu{
  position: absolute;
  top: 55px;
  background: $white;
  min-width: 80%;
  max-width: 100%;
  left: 0;

  z-index: 200000;
  display: none;
  color: $black;
  a{
    color: $black !important;
    transition: all .35s ease-in-out;
    &:hover{
      text-decoration: none;
    }
  }
  @include for-tablet-portrait-up{
    border: none;
    top: 0;
    width: 100%;
    height: 100vh;
    box-shadow: 0 3px 3px $gray;
    position: fixed;
  }
  &--inner{
    max-width: $max-width;
    margin: auto;
    @include flexbox();
    @include for-tablet-portrait-up{
      flex-direction: row;
      justify-content: space-between;
    }
  }
  &__logo,
  &__phone{
    width: 100%;
    text-align: center;
    padding: 70px 0;
    svg{
      width: 100px;
      height: 80px;
    }
    .phone-lnk{
      @include Arsenal($weight: 'bold');
      font-size: 24px;
      margin-bottom: 14px;
    }
  }
  &__col{
    li{
      margin-bottom: 18px;
      position: relative;
      transition: all .35s ease-in-out;
    }
    ul:hover{
      li a:not(.text-lead){
        opacity: .5;
        &:hover{
          opacity: 1;
        }
      }
    }
  }
  .soc-icons{
    .inst {
      width: 24px;
      height: 24px;
    }
    .fb {
      width: 13px;
      height: 24px;
      margin-right: 13px;
    }
  }
  &__close{
    position: absolute;
    top: -42px;
    left: 6px;
    background: $white;
    color: $black;
    @include for-tablet-portrait-up{
      top: 54px;
      right: 50%;
      left: auto;
      margin-right: - $max-width / 2;
    }
    svg{
      width: 26px;
      height: 26px;
      transform: rotate(45deg);
      @include for-tablet-portrait-up{
        width: 36px;
        height: 36px;
      }
    }
  }
  @include for-phone-only{
    &__col{
      overflow: hidden;
      ul > li{
        padding: 10px;
        margin: 0;
        border-top: 1px solid rgba($lightgray, .5);
      }
    }
    .show-sub-nav{
      overflow: hidden;
      &::after{
        content: '>';
        float: right;
        color: $lightgray;
      }
    }
    .go-back{
      border-top: 1px solid rgba($lightgray, .5);
      &::after{
        content: '<';
        float: left;
        margin-right: 12px;
        color: $lightgray;
      }
    }
    .sub-nav{
      left: -100%;
      position: absolute;
      top: -1px;
      width: 100%;
      min-height: 100%;
      background: $white;
      z-index: 2;
      transition: .35s linear;
      &.active{
        left: 0;
      }
      li{
        border: none;
        &.text-lead{
          border: solid rgba($lightgray, .5);
          border-width: 1px 0;
        }
      }
    }
  }

}