.footer{
  position: relative;
  color: $black;

  a{
    color: $black;
  }
  .phone-lnk{
    @include Arsenal($weight: 'bold');
    font-size: 24px;
    margin-bottom: 14px;
    display: block;
    @include for-tablet-portrait-up{
      display: inline-block;
    }
  }
  .btn{
    font-size: 14px;
    text-align: center;
    margin-bottom: 20px;

    @include for-tablet-portrait-up{
      width: 96%;
    }
  }
  ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    a:hover{
      text-decoration: none;
    }
    @include for-tablet-portrait-up{
      margin: 0 0 18px 0;
    }
    li{
      margin-bottom: 18px;
      transition: all .35s ease-in-out;
    }
    .ac-a{
      transition: all .35s ease-in-out;
    }
    .ac-a:hover{
      li{
        opacity: .5;
        &:hover{
          opacity: 1;
        }
      }
    }
  }
  &__logo{
    margin: 0 auto;
    background: $white;
    position: relative;
    z-index: 1;
    padding: 0 20px;
    display: inline-block;
    svg{
      width: 20px;
      height: 40px;
    }
  }

  header{
    position: relative;
    text-align: center;
    margin: 0 20px 30px;
    @include for-tablet-portrait-up{
      margin: 0 0 59px;
    }

    &::before{
      content: '';
      display: block;
      height: 1px;
      position: absolute;
      width: 100%;
      top: 50%;
      z-index: 0;
      background: $gray;
    }
  }

  &__nav{
    max-width: $max-width;
    @include flexbox($justifyContent: center);
    text-align: center;
    @include Roboto();

    @include for-tablet-portrait-up{
      flex-direction: row;
      justify-content: space-between;
      text-align: left;
      margin: 0 auto 40px auto;
    }
    .text-lead{
      @include Arsenal($weight: bold);
    }

    &--col{
      @include for-phone-only{
        &:nth-of-type(1) { order: 2;}
        &:nth-of-type(2) { order: 3;}
        &:nth-of-type(3) { order: 4;}
        &:nth-of-type(4) { order: 5;}
        &:nth-of-type(5) { order: 6;}
        &:nth-of-type(6) { order: 1;
        margin-bottom: 20px}
      }

      @include for-tablet-portrait-up{
        flex-basis: 200px;
        flex-grow: 0;
        flex-shrink: 0;
        &.fb-sm{
          flex-basis: 138px;
        }
        &.fb-md{
          flex-basis: 240px;
        }
      }

    }
  }

  &__social{
    padding: 20px 0;
    position: relative;
    &--inner{
      max-width: $max-width;
      margin: 0 auto;
      @include flexbox( $justifyContent: space-between, $alignItems: center);
      & > div{
        padding: 20px 0;
        @include for-tablet-portrait-up{
          padding: 0;
        }
      }
      @include for-phone-only{
        & > div{
          text-align: center;
        }
        & > div:nth-of-type(1) { order: 2;}
        & > div:nth-of-type(2) {
          order: 1;
          border-bottom: 1px solid $gray;
          width: calc(100% - 40px);
          text-align: center;
        }
        & > div:nth-of-type(3) { order: 3;}
      }

      @include for-tablet-portrait-up{
        border-top: 1px solid $gray;
        padding: 40px 0;
        flex-direction: row;
        justify-content: space-between;
      }

    }
    .soc-icons{
      @include for-tablet-portrait-up{
        position: absolute;
        left: calc(50% - 32px);
        top: 60px;
      }
      a{
        display: inline-block;
        margin: 0 8px;
      }
    }
    .fb{
      width: 13px;
      height: 24px;
    }
    .inst{
      width: 24px;
      height: 24px;
    }
    .kot{
      width: 24px;
      height: 24px;
    }
  }
}