.gift-collection{
  max-width: $max-width;
  margin:  0 auto;
  &__carousel{
    &--item{
      $spacing: 25px;

      @include flexbox($justifyContent: flex-start);
      position: relative;
      height: 446px;
      width: 250px;
      margin: 0 auto;
      padding: $spacing;
      transition: .35s ease-in-out;
      text-align: center;
      .like{
        opacity: 0;
        position: absolute;
        left: 21px;
        top: 6px;
        transition: .35s ease-in-out;
        color: $brown;
        svg{
          width: $spacing;
          height: $spacing - 3px;
        }
      }
      .img-holder{
        width: 90%;
        height: 100%;
        margin: $spacing auto;
        display:table-cell;
        vertical-align:middle;
        text-align:center;
        img{
          width: 100% !important;
          margin: auto;
        }
      }
      .bottom-section{
        @include flexbox($justifyContent: space-around);
        min-height: 150px;
      }
      .probe,
      .actions{
        opacity: 0;
        overflow: hidden;
        height: 0;
        transition: .35s ease-in-out;
      }

      &:hover,
      &.hovered{
        background: url("../img/gift-collection-bg.png") repeat-x 100% 100%;
        .bottom-section{
          justify-content: space-between;
          a{
            cursor: pointer;
            transition: .35s ease-in-out;
            &:hover{
              text-decoration: none;
              opacity: .8;
            }
          }
        }
        .like,
        .actions,
        .probe{
          opacity: 1;
          height: auto;
        }
      }
      &.hovered{
        background: none;
      }
    }
  }

  .owl-dots{
    position: absolute;
    width: 100%;
    bottom: -20px;
    z-index: 1;
    text-align: center;
    .owl-dot{
      display: inline-block;
      width: 12px;
      height: 12px;
      border-radius: 12px;
      margin: 0 12px;
      background: $gray;
      transition: .35s linear;
      &.active{
        background: $black;
      }
    }
  }
}

.collect-actions{
    @include flexbox($direction: row, $justifyContent: center, $alignItems: center);
    transition: .35s ease-in-out;
  .price{
    font-size: 18px;
    margin-right: 12px;
    @include Arsenal($weight: 'bold');
    svg{
      height: 12px;
      width: 12px;
    }
  }
}