.header-wrapper{
  top: 0;
  width: 100%;
  z-index: 100;
  position: relative;
}

.header{
  margin: 0 auto;
  width: 100%;
  max-width: $max-width;
  a{
    color: currentColor;
    text-decoration: none;
  }
  .top-menu{
    @include flexbox($direction: row, $justifyContent: space-between, $alignItems: center);
    padding: 10px;
    background: $white;
    & > div{
      @include flexbox($direction: row, $wrap: nowrap);
      align-items: center;
    }
    .iconed{
      display: inline-block;
      cursor: pointer;
      &:last-child{
        margin-right: 0;
      }
    }
    &__l-icons{
      .iconed{
        margin-right: 30px;
      }
    }
    &__r-icons{
      .iconed:not(:first-child){
        margin-left: 30px;
      }
    }

    @include for-tablet-portrait-up{
      background: transparent;
      padding: 24px 0;
    }

    svg{
      width: 20px;
      height: 20px;
      @include for-tablet-portrait-up{
        width: 25px;
        height: 25px;
      }
    }
    .hamburger{
      width: 21px;
      position: relative;
      margin-top: 3px;
      @include for-tablet-portrait-up{
        width: 34px;
        margin-top: 0;
      }
      span{
        display: block;
        height: 2px;
        margin-bottom: 6px;
        background: currentColor;
        transition: .35s linear;
        width: 100%;
        border-radius: 2px;
        &:last-child{
          width: 50%;
        }

      }
      &:hover span:last-child{
        width: 100%;
      }

    }
    .logo{
      width: 42px;
      height: 32px;
      @include for-tablet-portrait-up{
        width: 80px;
        height: 48px;
      }
    }
  }

  .counter-holder{
    position: relative;
    .counter{
      position: absolute;
      top: -6px;
      right: -6px;
      $counter-size: 14px;
      background: $brown;
      text-align: center;
      border-radius: $counter-size;
      min-width: $counter-size;
      height: $counter-size;
      line-height:  $counter-size;
      overflow: hidden;
      @include Arsenal($weight: 'bold');
      font-size: 11px;
      @include for-tablet-portrait-up{
        top: 0;
        right: -6px;
      }
    }
  }

  &__search{
    background: $white;
    position: absolute;
    width: 100%;
    top: 54px;
    left: 0;
    display: none;
    z-index: 2;
    margin-bottom: 10px;
    box-shadow: 0 3px 3px $gray;
    @include for-tablet-portrait-up{
      border-top: 1px solid $lightgray;
      top: 96px;
      padding: 48px 0;
    }
    &--inner{
      @include flexbox($direction: row, $alignItems: center);
      position: relative;
      width: 100%;
      box-sizing: border-box;
      padding: 10px 8px;
      border: solid $lightgray;
      border-width: 1px 0;
      @include for-tablet-portrait-up{
        max-width: 750px;
        padding: 2px 0;
        margin: auto;
        border-width: 0 0 1px;
      }
      & > div:first-child{
        flex-grow: 1;
      }
    }

    input{
      border: none;
      font-size: 14px;
      height: 20px;
      line-height: 20px;
      width: 100%;
      @include Roboto();
      color: $black;
      @include for-tablet-portrait-up{
        font-size: 18px;
      }
      &::placeholder{
        color: $lightgray;
      }
      &:focus,
      &:active{
        outline: none;
      }
    }
    button{
      border: none;
      background: transparent;
      color: $black;
      &:focus,
      &:active{
        outline: none;
      }
      svg{
        width: 20px;
        height: 20px;
      }
    }

    &--close{
      color: $black;
      cursor: pointer;
      margin: 0 6px 0 13px;
      @include for-tablet-portrait-up{
        position: absolute;
        right: -160px;
        top: 12px;
        margin: 0;
        font-size: 12px;
      }
      right: 0;
      svg{
        width: 12px;
        height: 12px;
        transform: rotate(45deg);
        @include for-tablet-portrait-up{
          width: 14px;
          height: 14px;
          vertical-align: middle;
          margin: -2px 10px 0 0;
        }
      }
    }

  }

}
.hero-wrapper{
  .header-wrapper{
    position: absolute;
  }
  .header .logo{
    @include for-tablet-portrait-up{
      width: 120px;
      height: 84px;
    }
  }
}

