.login-modal{
  .tabs-list{
    @include Arsenal($weight: bold);
    font-size: 23px;
    justify-content: space-between;
    li{
      padding: 0;
    }
    li:not(.active){
      color: $lightgray;
    }
    .animated-lnk::before,
    .animated-lnk::after{
      height: 2px;
    }
  }
  .tabs-list-tab-content{
    padding: 40px 0 20px;
  }
  .checkbox-wrapper{
    @include flexbox($direction: row, $alignItems: center);
  }
  .submit-area{
    @include flexbox($direction: row, $justifyContent: space-between, $alignItems: center);
    .btn{
      min-width: 190px;
    }
  }
}