.lookbook{
  margin-top: 40px;
  &__item-wrapper{
  margin-top: 40px;
  overflow: hidden;
  }
  &__item{
    max-width: $max-width;
    margin: auto;
    @include flexbox($direction: column-reverse);
    justify-content: space-between;
    align-items: center;
    @include for-tablet-portrait-up{
      flex-direction: row;
    }
    &--holder{
      width: 100%;
      @include for-tablet-portrait-up{
        width: 400px;
        height: 544px;
      }
    }
    &--ticket{
      width: 100%;
      min-height: 544px;
      padding: 34px 0;
      background: $white;
      @include flexbox();
      align-items: center;
      justify-content: space-between;
      text-align: center;
      transition: opacity .4s linear;
      @include for-tablet-portrait-up{
        width: 400px;
        height: 544px;
      }
      .title{
        margin: 0;
        font-size: 22px;
      }
    }
    &--image{
      width: 100%;
      @include for-tablet-portrait-up{
        width: 820px;
        height: 600px;
      }
      overflow: hidden;
      position: relative;
      color: $white;
      img{
        display: block;
        width: 100%;
        @include for-tablet-portrait-up{
          width: 820px;
          height: 600px;
        }
      }
      .target-list{
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
      }
      .target{
        position: absolute;
        box-sizing: inherit;
        width: 20px;
        height: 20px;
        color: $white;
        background: $black;
        border-radius: 20px;
        text-align: center;
        line-height: 24px;
        box-shadow: 0  0  0 5px rgba($white, .5);
        cursor: pointer;
        svg{
          width: 12px;
          height: 12px;
          position: absolute;
          background: $black;
          top: 4px;
          right: 4px;
          border-radius: 50%;
          &.plus{
            z-index: 1;
          }
        }
        input[type="radio"]{
          visibility: hidden;
          z-index: 4;
          position: absolute;
        }

        input[type="radio"]:checked{
          & + svg.plus{
            display: none;
          }

        }
      }

    }
  }


}