.news-single-page{
  max-width: $max-width;
  margin: auto;
  &__header{
    overflow: hidden;
    width: 100%;
    transition: all .35s ease-in-out;
    margin-bottom: 36px;
    img{
      width: 100%;
      transition: all 12s ease-in-out;
    }
    &:hover{
      filter: brightness(115%);
      img{
        transform: scale(1.1)
      }
    }

  }
  font-size: 16px;
  .share-lnk{
    display: inline-block;
    color: $brown;
    svg{
      width: 24px;
      height: 24px;
    }

  }
}