.news-main{
  @include flexbox($direction: row, $wrap: wrap, $justifyContent: space-between);
  max-width: $max-width;
  margin: auto;
  &:hover .news-main__item{
      opacity: .65;
  }
  &__item{
    flex-basis: 400px;
    display: block;
    cursor: pointer;
    transition: all .45s ease-in-out;
    margin-bottom: 60px;
    h3{
      margin: 0;
    }
    &:hover{
      opacity: 1 !important;
      h3{
        opacity: .85;
      }
      text-decoration: none;
    }
    &--img{
      overflow: hidden;
      width: 100%;
      height: 300px;
      transition: all .35s ease-in-out;
      img{
        width: 100%;
        transition: all 12s ease-in-out;
      }
      &:hover{
        filter: brightness(115%);
        img{
          transform: scale(1.1)
        }
      }


    }
  }
}