.personal-area{
  max-width: $max-width;
  margin: auto;
  .tabs-list{
    margin: 0 auto 30px;
    justify-content: center;
    font-size: 14px;
    font-weight: 600;
    flex-direction: column;
    @include for-tablet-portrait-up{
      flex-direction: row;
      width: $max-width / 2 ;
      border-bottom: 1px solid $border-color;
    }

    @include Arsenal($weight: bold);
    & > li{
      @include flexbox($direction: row, $alignItems: center, $justifyContent: center);
      width: 100%;
      @include for-tablet-portrait-up{
        flex-basis: 30%;
        width: auto;
      }
    }
    svg{
      width: 20px;
      height: 24px;
      margin-right: 16px;
    }
  }
  .animated-lnk::before,
  .animated-lnk::after{
    bottom: -1px;
  }
  &__form{
    padding: 20px;
    margin: auto;
    @include for-tablet-portrait-up{
      width: $max-width / 2;
      padding: 0;
    }
    .form-action{
      margin: 28px 0;
      .btn{
        margin: auto;
        display: inline-block;
      }
    }
  }

  &__orders{

  }
  &__orders--item{
    @include flexbox($justifyContent: space-between);
    @include for-tablet-portrait-up{
      flex-direction: row;
      align-items: center;
    }
    margin-bottom: 20px;
    font-size: 13px;
    border-bottom: 1px solid $border-color;
    & > div{
      padding: 0 20px;
    }
    h3{
      font-weight: 400;
      margin: 0 -2px 6px 0;
    }
    .rub{
      height: 11px;
      width: 8px;
    }
    img{
      display: block;
      max-width: 106px;
      margin: 20px auto;
      @include for-tablet-portrait-up{
        margin: inherit;
      }
    }
    b{
      @include Arsenal($weight: bold)
    }
    table{
      width: 100%;
      table-layout: fixed;
      @include for-phone-only{
        tr, td{
          display: block;
          img{
            margin: 20px auto;
          }
        }
        br{
          display: none;
        }
        span, b{
          margin-left: 12px;
        }
        td.text-center{
          text-align: left;
        }
      }
      td{
        vertical-align: top;
        padding: 10px 0;

        &:not(.text-center){
          text-align: left;
        }
        &:not(:last-child){
          width: 200px;
        }
        &.tech-data{
          width: 300px;
          dl{
            margin-top: 0;
          }
        }
      }
    }
    .remove{
      margin-top: 16px;
      display: inline-block;
      svg{
        transform: rotate(45deg);
      }
    }
  }
  .toggle-ico{
    width: 14px;
    height: 14px;
  }
  .toggle-thead{
    @include flexbox($direction: row, $justifyContent: space-between, $alignItems: center);
    cursor: pointer;
    font-size: 16px;
    @include Roboto($weight: bold);
    padding: 10px  24px;
    border: solid $border-color;
    border-width: 1px 0;
    margin-bottom: -1px;
    color: $black;
    opacity: 1;
  }
  .ac{
    margin-bottom: 30px;
    .minus{
      display: none;
    }
    .plus{
      display: block;
    }
    .ac-q[aria-expanded="true"]{
      .minus{
        display: block;
      }
      .plus{
        display: none;
      }
    }
  }
  .ac-a > .personal-area__orders--item{
    padding-top: 20px;
  }

}