.production{
  margin: 0 auto;
  @include imgRetina('../img/production', 'jpg');
  background-color: #221C26;
  text-align: center;
  padding: 44px 20px;
  background-size: 80% 0;
  @include pseudoShadow(rgba($black, .5), $mobile: true);
  @include Roboto();
  & > div{
    position: relative;
    z-index: 1;
  }
  @include for-tablet-portrait-up{
    padding: 88px $gird-space $gird-space;
    min-height: 500px;
    background-size: cover;
  }

  .logo-symbol{
    width: 20px;
    height: 40px;
    margin: 0 auto 20px;
    @include for-tablet-portrait-up{

    }
  }
  h2::after{
    width: 80px;
    left: calc(50% - 40px);
  }
  p{
    font-size: 15px;
    margin: 15px 0 25px;
    line-height: 1.5em;
    @include for-tablet-portrait-up{
      font-size: 18.2px;
      margin: 30px 0 50px;
    }
  }

}