.product-view{
  position: relative;
  overflow: hidden;
  @include for-tablet-portrait-up{
    &::before{
      content: '';
      display: block;
      position: absolute;
      width: 50%;
      top: 0;
      bottom: 0;
      left: 0;
      background: $product-bg;
    }
  }
  &__inner{
    max-width: $max-width;
    margin: auto;
    @include flexbox();
    @include for-tablet-portrait-up{
      flex-direction: row;
      & > div{
        width: 50%;
      }
    }
  }
  &__item{
    position: relative;
    padding: 30px;
    @include for-desktop-up{
      padding: 30px 60px;
    }
    display: flex;
    img{
      margin: auto;
      width: 100%;
    }
  }
  &__actions{
    position: absolute;
    right: 20px;
    top: 20px;
    color: $brown;
    overflow: hidden;
    @include for-desktop-up{
      left: -70px;
      top: 10px;
      right: auto;
    }
    &--holder{
      @include for-desktop-up{
        padding: 20px;
      }
      div{
        margin-bottom: 24px;
      }
      svg{
        width: 24px;
        height: 24px;
      }
    }
  }
  &__desc{
    @include for-desktop-up {
      position: relative;
    }
    &--inner{
      padding: 20px;
      @include for-desktop-up{
        padding: 30px 90px;
      }

    }
    &--name{
      font-size: 12px;
    }
    h2{
      margin: 10px 0 20px;
      font-weight: 600;
    }
    &--size{
      margin: 14px 0;
      .form-input{
        width: 60px;
        text-align: center;
      }
    }
    &--price{
      @include flexbox($direction: row, $alignItems: flex-start, $justifyContent: space-between);

      margin: 40px 0;
      svg{
        height: 19px;
        width: 12px;
      }
      .h2{
        margin: 8px 0 0;
        font-weight: 600;
      }
      .btn-holder{
        margin: auto;
      }
      .btn{
        font-size: 14px;
        padding: 16px 22px;
      }
    }
    &--tabs{
      align-items: center;
      letter-spacing: 1px;
      border-bottom: 1px solid $border-color;
      @include Roboto($weight: bold);
      font-size: 13px;
      li{
        &::before,
        &::after{
          bottom: -1px;
        }
      }

    }
    &--tabs-content{
      @include Roboto();
      font-size: 12px;
      padding: 10px 0 ;
      dl {
        @include flexbox($direction: row, $wrap: wrap);
        font-size: 13px;
      }

      dt {
        width: 28.5%;
        padding: 0 0 10px;
        @include Roboto($weight: bold);
      }
      dd {
        padding: 0 0 10px;
        width: 70%;
        margin: 0;
        @include for-desktop-up{
          width: 56%;
        }
      }
    }
  }
  &__info-links{
    margin: 0;
    padding: 0;
    font-size: 13px;
    border-top: 1px solid $border-color;
    @include flexbox($direction: row, $justifyContent: space-between);
    a{
      text-decoration: none;
      color: $black;
      display: inline-block;
      padding: 30px 0;
      &:hover{
        color: $black;
      }
    }
    li{
      transition: .35s ease-in-out;
    }
    &:hover{
      li{
        opacity: .5;
        &:hover{
          opacity: 1;
        }
      }
    }
  }
}