.rules{
  margin: auto;
  max-width: $max-width;
  &__header{
    border-bottom: 1px solid $border-color;
  }
  .question{
    padding: 18px 0 0;
    @include Arsenal($weight: bold);
    font-size: 18px;
  }
  .answer{
    .counter-list{
      padding-top: 36px;
    }
    .counter-list li:last-child{
      margin-bottom: 0;
    }
  }
}