.stores{
  padding: 20px;
  @include for-desktop-up{
    padding: 0;
  }
  &__item{
    @include flexbox();
    margin-bottom: 40px;

    @include for-desktop-up{
      flex-direction: row;
      margin-bottom: 20px;
      &:nth-child(odd){
        flex-direction: row-reverse;
      }
      & > div{
        flex-basis: 50%;
      }
    }
    &--image{
      img{
        display: block;
        width: 100%;
        margin-bottom: 20px;
        @include for-desktop-up{
          margin-bottom: 0;

        }
      }
    }
    &--desc{
      @include flexbox();
      @include for-desktop-up{
        & > div{
          max-width: $max-width / 2;
          margin: auto 90px;
        }
      }
      h3{
        text-transform: none;
      }
      p{
        margin: 24px 0;
      }
    }
  }
}